<app-custom-modal
  [isOpen]="isModalOpen"
  [title]="modalTitle"
  [subtitle]="'ORGANIZATION_FORM.TITLE' | translate"
  [width]="'760px'"
  (closed)="isModalOpen = false"
  (submitted)="submit()"
  variant="center"
  [showFooter]="true"
>
  <form class="form w-100" [formGroup]="form" novalidate="novalidate">
    <div class="row">
      <div class="col-md-6">
        <div class="fv-row mb-8">
          <label class="form-label fs-6 fw-bolder text-gray-900">
            {{ 'ORGANIZATION_FORM.NAME' | translate }}
          </label>

          <input
            class="form-control form-control-lg form-control-solid"
            type="text"
            formControlName="name"
            autocomplete="off"
            [placeholder]="'ORGANIZATION_FORM.NAME' | translate"
            [ngClass]="{
              'is-invalid': isInvalid('name')
            }"
          />

          <ng-container *ngIf="isInvalid('name')">
            <div class="invalid-feedback d-block" *ngIf="f['name'].errors?.['required']">
              {{ 'ORGANIZATION_FORM.REQUIRED_NAME' | translate }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-md-6">
        <div class="fv-row mb-8">
          <label class="form-label fs-6 fw-bolder text-gray-900">
            {{ 'ORGANIZATION_FORM.TAX_NO' | translate }}
          </label>

          <input
            class="form-control form-control-lg form-control-solid"
            type="text"
            formControlName="taxNo"
            autocomplete="off"
            [placeholder]="'ORGANIZATION_FORM.TAX_NO' | translate"
            [ngClass]="{
              'is-invalid': isInvalid('taxNo')
            }"
          />

          <ng-container *ngIf="isInvalid('taxNo')">
            <div class="invalid-feedback d-block" *ngIf="f['taxNo'].errors?.['required']">
              {{ 'ORGANIZATION_FORM.REQUIRED_TAX_NO' | translate }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-md-6">
        <div class="fv-row mb-8">
          <label class="form-label fs-6 fw-bolder text-gray-900">
            {{ 'ORGANIZATION_FORM.TAX_OFFICE' | translate }}
          </label>

          <input
            class="form-control form-control-lg form-control-solid"
            type="text"
            formControlName="taxOffice"
            autocomplete="off"
            [placeholder]="'ORGANIZATION_FORM.TAX_OFFICE' | translate"
            [ngClass]="{
              'is-invalid': isInvalid('taxOffice')
            }"
          />

          <ng-container *ngIf="isInvalid('taxOffice')">
            <div class="invalid-feedback d-block" *ngIf="f['taxOffice'].errors?.['required']">
              {{ 'ORGANIZATION_FORM.REQUIRED_TAX_OFFICE' | translate }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-md-6">
        <div class="fv-row mb-8">
          <label class="form-label fs-6 fw-bolder text-gray-900">
            {{ 'ORGANIZATION_FORM.PHONE' | translate }}
          </label>

          <input
            class="form-control form-control-lg form-control-solid"
            type="text"
            formControlName="phone"
            mask="(000) 000 00 00"
            [showMaskTyped]="true"
            [dropSpecialCharacters]="false"
            autocomplete="off"
            placeholder="(___) ___ __ __"
            [ngClass]="{
              'is-invalid': isInvalid('phone')
            }"
          />
        </div>
      </div>

      <div class="col-md-12">
        <div class="fv-row mb-8">
          <label class="form-label fs-6 fw-bolder text-gray-900">
            {{ 'ORGANIZATION_FORM.EMAIL' | translate }}
          </label>

          <input
            class="form-control form-control-lg form-control-solid"
            type="email"
            formControlName="email"
            autocomplete="off"
            [placeholder]="'ORGANIZATION_FORM.EMAIL' | translate"
          />

          <ng-container *ngIf="isInvalid('email')">
            <div class="invalid-feedback d-block" *ngIf="f['email'].errors?.['email']">
              {{ 'ORGANIZATION_FORM.INVALID_EMAIL' | translate }}
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </form>

  <ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
      <div class="fv-plugins-message-container">
        <span role="alert">
          {{ message }}
        </span>
      </div>
    </ng-container>
  </ng-template>
</app-custom-modal>