<app-custom-modal
  [isOpen]="isModalOpen"
  [title]="modalTitle"
  [subtitle]="'ORGANIZATION_FORM.TITLE' | translate"
  [width]="'760px'"
  variant="center"
  [showFooter]="true"
  (closed)="isModalOpen = false"
  (submitted)="submit()"
>
  <form class="form" [formGroup]="form" novalidate>
    <div class="row g-8">

      <!-- NAME -->
      <div class="col-md-6">
        <div class="fv-row">
          <label class="required form-label fw-semibold fs-6 mb-2">
            {{ 'ORGANIZATION_FORM.NAME' | translate }}
          </label>

          <input
            type="text"
            class="form-control"
            formControlName="name"
            autocomplete="off"
            [placeholder]="'ORGANIZATION_FORM.NAME' | translate"
            [ngClass]="{ 'is-invalid': isInvalid('name') }"
          />

          <div
            *ngIf="isInvalid('name')"
            class="fv-plugins-message-container"
          >
            <div
              *ngIf="f['name'].errors?.['required']"
              class="fv-help-block text-danger"
            >
              {{ 'ORGANIZATION_FORM.REQUIRED_NAME' | translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- TAX NO -->
      <div class="col-md-6">
        <div class="fv-row">
          <label class="required form-label fw-semibold fs-6 mb-2">
            {{ 'ORGANIZATION_FORM.TAX_NO' | translate }}
          </label>

          <input
            type="text"
            class="form-control"
            formControlName="taxNo"
            autocomplete="off"
            [placeholder]="'ORGANIZATION_FORM.TAX_NO' | translate"
            [ngClass]="{ 'is-invalid': isInvalid('taxNo') }"
          />

          <div
            *ngIf="isInvalid('taxNo')"
            class="fv-plugins-message-container"
          >
            <div
              *ngIf="f['taxNo'].errors?.['required']"
              class="fv-help-block text-danger"
            >
              {{ 'ORGANIZATION_FORM.REQUIRED_TAX_NO' | translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- TAX OFFICE -->
      <div class="col-md-6">
        <div class="fv-row">
          <label class="required form-label fw-semibold fs-6 mb-2">
            {{ 'ORGANIZATION_FORM.TAX_OFFICE' | translate }}
          </label>

          <input
            type="text"
            class="form-control"
            formControlName="taxOffice"
            autocomplete="off"
            [placeholder]="'ORGANIZATION_FORM.TAX_OFFICE' | translate"
            [ngClass]="{ 'is-invalid': isInvalid('taxOffice') }"
          />

          <div
            *ngIf="isInvalid('taxOffice')"
            class="fv-plugins-message-container"
          >
            <div
              *ngIf="f['taxOffice'].errors?.['required']"
              class="fv-help-block text-danger"
            >
              {{ 'ORGANIZATION_FORM.REQUIRED_TAX_OFFICE' | translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- PHONE -->
      <div class="col-md-6">
        <div class="fv-row">
          <label class="form-label fw-semibold fs-6 mb-2">
            {{ 'ORGANIZATION_FORM.PHONE' | translate }}
          </label>

          <input
            type="tel"
            class="form-control"
            formControlName="phone"
            mask="(000) 000 00 00"
            [showMaskTyped]="true"
            [dropSpecialCharacters]="false"
            autocomplete="off"
            placeholder="(___) ___ __ __"
            [ngClass]="{ 'is-invalid': isInvalid('phone') }"
          />

          <div
            *ngIf="isInvalid('phone')"
            class="fv-plugins-message-container"
          >
            <div
              *ngIf="f['phone'].errors?.['required']"
              class="fv-help-block text-danger"
            >
              {{ 'ORGANIZATION_FORM.REQUIRED_PHONE' | translate }}
            </div>

            <div
              *ngIf="f['phone'].errors?.['pattern']"
              class="fv-help-block text-danger"
            >
              {{ 'ORGANIZATION_FORM.INVALID_PHONE' | translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- EMAIL -->
      <div class="col-12">
        <div class="fv-row">
          <label class="form-label fw-semibold fs-6 mb-2">
            {{ 'ORGANIZATION_FORM.EMAIL' | translate }}
          </label>

          <input
            type="email"
            class="form-control"
            formControlName="email"
            autocomplete="off"
            [placeholder]="'ORGANIZATION_FORM.EMAIL' | translate"
            [ngClass]="{ 'is-invalid': isInvalid('email') }"
          />

          <div
            *ngIf="isInvalid('email')"
            class="fv-plugins-message-container"
          >
            <div
              *ngIf="f['email'].errors?.['required']"
              class="fv-help-block text-danger"
            >
              {{ 'ORGANIZATION_FORM.REQUIRED_EMAIL' | translate }}
            </div>

            <div
              *ngIf="f['email'].errors?.['email']"
              class="fv-help-block text-danger"
            >
              {{ 'ORGANIZATION_FORM.INVALID_EMAIL' | translate }}
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>
</app-custom-modal>