<form class="login-form" [formGroup]="forgotPasswordForm" novalidate="novalidate" (ngSubmit)="submit()">
  <div class="login-card">

    <!-- HEADER -->
    <div class="login-card__header text-center">

      <div class="login-brand-wrap mb-6">
        <a (click)="onBrandClick()" class="app-auth__brand text-decoration-none">
          <div class="app-auth__brand-top">
            <img src="./assets/media/logos/logo.svg" alt="GeoPortal" class="app-auth__logo-img" />

            <div class="app-auth__brand-divider"></div>

            <div class="app-auth__brand-name">
              GeoPortal
            </div>
          </div>
        </a>
      </div>

      <h1 class="login-card__title">
        {{ 'FORGOT_PASSWORD' | translate }}
      </h1>
    </div>

    <!-- ERROR -->
    <ng-container *ngIf="errorState === errorStates.HasError">
      <div class="alert alert-danger d-flex align-items-center mb-8 py-4 px-4 rounded-4">
        <i class="ki-outline ki-information-5 fs-3 me-3"></i>
        <div>{{ 'AUTH.RESET.ERROR' | translate }}</div>
      </div>
    </ng-container>

    <!-- SUCCESS -->
    <ng-container *ngIf="errorState === errorStates.NoError">
      <div class="alert alert-success d-flex align-items-center mb-8 py-4 px-4 rounded-4">
        <i class="ki-outline ki-check-circle fs-3 me-3"></i>
        <div>{{ 'AUTH.RESET.SUCCESS' | translate }}</div>
      </div>
    </ng-container>

    <!-- EMAIL -->
    <div class="fv-row mb-7">
      <label class="form-label fw-bolder mb-2">
        {{ 'EMAIL' | translate }}
      </label>

      <div class="input-group input-group-lg login-input-group" [ngClass]="{
          'is-invalid': forgotPasswordForm.controls['email'].invalid &&
                        (forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched)
        }">
        <span class="input-group-text">
          <i class="ki-outline ki-sms fs-4"></i>
        </span>

        <input type="email" class="form-control form-control-lg" formControlName="email" autocomplete="off"
          placeholder="example@email.com" />
      </div>

      <!-- VALIDATIONS -->
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: ('AUTH.VALIDATION.EMAIL_REQUIRED' | translate),
          control: forgotPasswordForm.controls['email']
        }"></ng-container>

      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'email',
          message: ('AUTH.VALIDATION.EMAIL_INVALID' | translate),
          control: forgotPasswordForm.controls['email']
        }"></ng-container>

      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'minlength',
          message: ('AUTH.VALIDATION.EMAIL_MIN' | translate),
          control: forgotPasswordForm.controls['email']
        }"></ng-container>

      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: ('AUTH.VALIDATION.EMAIL_MAX' | translate),
          control: forgotPasswordForm.controls['email']
        }"></ng-container>
    </div>

    <!-- ACTION -->
    <div class="d-grid mb-6 mt-8">
      <button type="submit" class="btn btn-primary btn-lg login-submit" [disabled]="forgotPasswordForm.invalid">
        <ng-container *ngIf="isLoading$ | async; else submitLabel">
            {{ 'PLEASEWAIT' | translate }}
            <span class="spinner-border spinner-border-sm ms-2 text-white"></span>
        </ng-container>

        <ng-template #submitLabel>
          {{ 'AUTH.RESET.SUBMIT' | translate }}
        </ng-template>
      </button>
    </div>

    <!-- BACK -->
    <div class="text-center">
      <a routerLink="/auth/login" class="login-link fw-bold text-primary">
        {{ 'AUTH.RESET.BACK' | translate }}
      </a>
    </div>

  </div>
</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="invalid-feedback d-block">
      {{ message }}
    </div>
  </ng-container>
</ng-template>