:host {
  display: block;
}

#kt_order_detail_sidebar {
  top: 110px;
}

@media (min-width: 1400px) {
  .border-end-xxl {
    border-right: 1px solid var(--bs-gray-300);
  }
}

:host ::ng-deep [data-bs-toggle="collapse"][aria-expanded="true"] .collapse-chevron i {
  transform: rotate(180deg);
}

.collapse-chevron i {
  transition: transform 0.2s ease;
}
