<app-role-editsave #editSaveComponent (isSuccess)="isSuccess($event)">
</app-role-editsave>

<app-confirmation #confirmationComponent (dismissButtonClick)="delete($event)">
</app-confirmation>


<!-- TABLE -->
<app-datatable [header]="tableName" [paginationModel]="paginationModel" [dataSource]="dataSource"
  [totalCount]="totalCount" [columnList]="columnList" (paginationModelChange)="paginationModelChange($event)"
  (newButtonClick)="openSaveModal($event)" (filterModelChange)="onFilterModelChange($event)"
  (deleteButtonClick)="openDeleteModal($event)" (editButtonClick)="openEditModal($event)"
  class="card card-xxl-stretch border-0 mb-5 mb-xl-8" [hasEditPermission]="hasEditPermission"
  [hasDeletePermission]="hasDeletePermission" [hasNewRecordPermission]="hasNewRecordPermission"></app-datatable>