<div class="row g-4 g-xl-7 mb-8">
  <div class="col-12 col-sm-6 col-xl-2" *ngFor="let item of kpiItems">
    <div class="card h-100 kpi-card" [ngClass]="item.color">
      <!-- TOP ACCENT -->
      <span class="kpi-accent"></span>

      <div class="card-body">
        <div class="d-flex align-items-center gap-3 mb-3">
          <div class="kpi-icon">
            <i [class]="item.icon + ' fs-2x'"></i>
          </div>

          <div class="text-primary" style="font-size: 0.72rem;
  font-weight: 700;
  text-transform: uppercase;">
            {{ item.title | translate }}
          </div>
        </div>

        <div class="fs-2 fw-bold mb-1">
          {{ item.format === 'currency'
            ? formatCurrency(item.value)
            : formatNumber(item.value)
          }}
        </div>

        <div class="text-muted fs-7">
          {{ item.sub | translate }}
        </div>
      </div>
    </div>
  </div>
</div>