<ng-container *ngIf="user">
  <!-- USER HEADER -->
  <div class="px-5 py-4">
    <div class="d-flex align-items-center rounded-3 p-3" style="background-color: rgba(var(--bs-primary-rgb), 0.12);">
      <div class="symbol symbol-45px me-4 flex-shrink-0">
        <img
          *ngIf="user?.fileId == undefined"
          src="./assets/media/avatars/blank.png"
          alt="user-avatar"
        />

        <img
          *ngIf="user?.fileId != undefined"
          [src]="user?.fileResult?.fileContents"
          alt="user-avatar"
        />
      </div>

      <div class="d-flex flex-column min-w-0">
        <div class="fw-bold fs-6 text-gray-900 text-truncate">
          {{ user.name }} {{ user.surname }}
        </div>

        <div class="text-muted fs-7 text-truncate">
          {{ user.email }}
        </div>
      </div>
    </div>
  </div>

  <div class="separator mx-5 my-2"></div>

  <!-- PROFILE -->
  <div class="menu-item px-3">
    <a routerLink="/profile/settings" class="menu-link px-3 rounded-3">
      <span class="menu-icon">
        <i class="fa-solid fa-user fs-5"></i>
      </span>
      <span class="menu-title">
        {{ 'MY_PROFILE' | translate }}
      </span>
    </a>
  </div>

  <!-- ORDERS -->
  <div class="menu-item px-3" *ngIf="!isAdmin">
    <a routerLink="/ordermanagement" class="menu-link px-3 rounded-3">
      <span class="menu-icon">
        <i class="fa-solid fa-box fs-5"></i>
      </span>
      <span class="menu-title">
        {{ 'MY_ORDERS' | translate }}
      </span>
    </a>
  </div>

  <!-- LANGUAGE -->
  <div
    class="menu-item px-3"
    data-kt-menu-trigger="hover"
    data-kt-menu-placement="left-start"
    data-kt-menu-flip="bottom"
  >
    <a class="menu-link px-3 rounded-3 cursor-pointer">
      <span class="menu-icon">
        <i class="fa-solid fa-language fs-5"></i>
      </span>

      <span class="menu-title">
        {{ 'LANGUAGE' | translate }}
      </span>

      <span class="ms-auto d-flex align-items-center me-2">
        <img
          class="w-20px h-20px rounded-1 me-2"
          [src]="language.flag"
          alt="language-flag"
        />
        <span class="fs-7 text-gray-700">
          {{ ('LANG' | translate) === 'tr' ? language.nameTr : language.nameEn }}
        </span>
      </span>
    </a>

    <div
      class="menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold py-2 w-200px border border-gray-200 bg-body shadow-sm"
    >
      <div
        *ngFor="let l of langs"
        class="menu-item px-3"
        (click)="selectLanguage(l.lang)"
      >
        <a
          class="menu-link px-3 rounded-3 d-flex align-items-center"
          [ngClass]="{ active: l.lang === language.lang }"
        >
          <span class="symbol symbol-20px me-3">
            <img class="rounded-1" [src]="l.flag" alt="language-flag" />
          </span>

          <span class="menu-title">
            {{ ('LANG' | translate) === 'tr' ? l.nameTr : l.nameEn }}
          </span>

          <span class="ms-auto" *ngIf="l.lang === language.lang">
            <i class="fa-solid fa-check text-primary"></i>
          </span>
        </a>
      </div>
    </div>
  </div>

  <div class="separator mx-5 my-2"></div>

  <!-- LOGOUT -->
  <div class="menu-item px-3">
    <a (click)="logout()" class="menu-link px-3 rounded-3 cursor-pointer text-danger">
      <span class="menu-icon">
        <i class="fa-solid fa-right-from-bracket fs-5 text-danger"></i>
      </span>
      <span class="menu-title">
        {{ 'AUTH.GENERAL.SIGNOUT_BUTTON' | translate }}
      </span>
    </a>
  </div>
</ng-container>