<ng-container *ngIf="user">
  <div class="user-glass-header">
    <div class="user-header-left">
      <div class="user-header-avatar">
        <img
          *ngIf="user?.fileId == undefined"
          src="./assets/media/avatars/blank.png"
          alt="user-avatar"
        />

        <img
          *ngIf="user?.fileId != undefined"
          [src]="user?.fileResult?.fileContents"
          alt="user-avatar"
        />
      </div>

      <div class="user-header-content">
        <h3 class="user-header-title mb-0">
          {{ user.name }} {{ user.surname }}
        </h3>

        <span class="user-header-subtitle">
          {{ user.email }}
        </span>
      </div>
    </div>
  </div>

  <div class="user-glass-body">
    <div class="user-menu-list">

      <div class="user-row my-1">
        <div routerLink="/profile/settings" class="user-glass-item px-4 py-3 cursor-pointer">
          <div class="user-item-left">
            <span class="user-item-icon">
              <i class="fa-solid fa-user"></i>
            </span>

            <span class="user-item-text">
              {{ 'MY_PROFILE' | translate }}
            </span>
          </div>

          <span class="user-item-arrow">
            <i class="fa-solid fa-chevron-right"></i>
          </span>
        </div>
      </div>

      <div class="user-row my-1" *ngIf="!isAdminPanel">
        <div routerLink="/ordermanagement" class="user-glass-item px-4 py-3 cursor-pointer">
          <div class="user-item-left">
            <span class="user-item-icon">
              <i class="fa-solid fa-box"></i>
            </span>

            <span class="user-item-text">
              {{ 'MY_ORDERS' | translate }}
            </span>
          </div>

          <span class="user-item-arrow">
            <i class="fa-solid fa-chevron-right"></i>
          </span>
        </div>
      </div>

      <div
        class="user-row my-1"
        data-kt-menu-trigger="hover"
        data-kt-menu-placement="left-start"
        data-kt-menu-flip="bottom"
      >
        <div class="user-glass-item px-4 py-3 cursor-pointer">
          <div class="user-item-left">
            <span class="user-item-icon">
              <i class="fa-solid fa-language"></i>
            </span>

            <span class="user-item-text">
              {{ 'LANGUAGE' | translate }}
            </span>
          </div>

          <div class="user-language-badge">
            <span class="user-language-name">
              {{ ('LANG' | translate) === 'tr' ? language.nameTr : language.nameEn }}
            </span>

            <img
              class="user-language-flag"
              [src]="language.flag"
              alt="language-flag"
            />
          </div>
        </div>

        <div class="menu-sub menu-sub-dropdown w-200px py-3 user-language-dropdown">
          <div
            *ngFor="let l of langs"
            class="user-language-row px-3 cursor-pointer"
            (click)="selectLanguage(l.lang)"
          >
            <div
              class="user-language-option d-flex align-items-center justify-content-between px-4 py-3"
              [ngClass]="l.lang === language.lang ? 'active' : ''"
            >
              <div class="d-flex align-items-center">
                <span class="symbol symbol-20px me-3">
                  <img class="rounded-1" [src]="l.flag" alt="language-flag" />
                </span>

                <span>
                  {{ ('LANG' | translate) === 'tr' ? l.nameTr : l.nameEn }}
                </span>
              </div>

              <i
                *ngIf="l.lang === language.lang"
                class="fa-solid fa-check user-language-check"
              ></i>
            </div>
          </div>
        </div>
      </div>

      <div class="user-row my-1">
        <div (click)="logout()" class="user-glass-item user-logout-item px-4 py-3 cursor-pointer">
          <div class="user-item-left">
            <span class="user-item-icon">
              <i class="fa-solid fa-right-from-bracket"></i>
            </span>

            <span class="user-item-text">
              {{ 'AUTH.GENERAL.SIGNOUT_BUTTON' | translate }}
            </span>
          </div>

          <span class="user-item-arrow">
            <i class="fa-solid fa-chevron-right"></i>
          </span>
        </div>
      </div>

    </div>
  </div>
</ng-container>