<div class="order-page">

    <!-- SEARCH -->
    <div class="order-search">
        <form (ngSubmit)="onSearch()" class="search-form">

            <div class="search-box">
                <input type="search" [(ngModel)]="searchTerm" name="searchTerm"
                    [placeholder]="'SEARCH_BAR' | translate" />

                <button type="submit">
                    {{ 'SEARCH_BAR' | translate }}
                </button>
            </div>

        </form>
    </div>

    <!-- TABLE -->
    <div class="order-table-wrapper">
        <div class="glass-card order-card">

            <div class="order-card-header">
                <h3>{{ tableName }}</h3>
            </div>

            <div class="order-card-body">
                <app-datatable [header]="''" [paginationModel]="paginationModel" [dataSource]="dataSource"
                    [totalCount]="totalCount" [columnList]="columnList"
                    (paginationModelChange)="paginationModelChange($event)"
                    (showButtonClick)="routeToOrderDetail($event)" [hasEditPermission]="hasEditPermission"
                    [hasDeletePermission]="hasDeletePermission" [hasNewRecordPermission]="hasNewRecordPermission"
                    [hasShowPermission]="hasShowPermission">
                </app-datatable>
            </div>

        </div>
    </div>

</div>