<app-custom-modal
  [isOpen]="isOpen"
  [title]="'COMING_ORDER_DETAIL.INVOICE_PREVIEW_TITLE' | translate"
  [subtitle]="fileName"
  [width]="'1100px'"
  variant="center"
  [showFooter]="false"
  (closed)="close()"
>
  <div class="invoice-preview-wrapper">
    <ng-container *ngIf="previewUrl; else noPreview">

      <div
        *ngIf="isImageFile(fileName); else documentPreview"
        class="invoice-preview-image-container"
      >
        <img
          [src]="previewUrl"
          [alt]="fileName"
          class="invoice-preview-image"
        />
      </div>

      <ng-template #documentPreview>
        <div class="invoice-preview-frame-container">
          <iframe
            [src]="previewUrl"
            [title]="fileName"
            class="invoice-preview-frame"
          ></iframe>
        </div>
      </ng-template>

    </ng-container>

    <ng-template #noPreview>
      <div class="invoice-empty-preview">
        <div class="symbol symbol-70px mb-5">
          <span class="symbol-label bg-light-primary">
            <i class="fa-solid fa-file-invoice fs-2x text-primary"></i>
          </span>
        </div>

        <span class="text-gray-600 fw-semibold fs-6">
          {{ 'COMING_ORDER_DETAIL.INVOICE_PREVIEW_EMPTY' | translate }}
        </span>
      </div>
    </ng-template>
  </div>
</app-custom-modal>