
<!-- TABLE -->
<app-datatable
  [header]="tableName"
  [paginationModel]="paginationModel"
  [dataSource]="dataSource"
  [totalCount]="totalCount"
  [columnList]="columnList"
  (paginationModelChange)="paginationModelChange($event)"
  (showButtonClick)="routeToOrderDetail($event)"
  class="card card-xxl-stretch border-0 mb-5 mb-xl-8"
  [hasEditPermission]="hasEditPermission"
  [hasDeletePermission]="hasDeletePermission"
  [hasNewRecordPermission]="hasNewRecordPermission"
  [hasShowPermission]="hasShowPermission"
  [hasExportPermission]="hasExportPermission"
  (exportExcelClick)="exportExcel($event)"
  (filterModelChange)="onFilterModelChange($event)"
></app-datatable>