:host {
  display: block;
  width: 100%;
  height: 100%;
}

.tab-content,
.tab-pane {
  height: 100%;
}

::ng-deep app-menu-tab {
  display: block;
}

/* Metronic menu spacing */

::ng-deep .menu {
  padding: 0;
}

::ng-deep .menu-item {
  margin-bottom: 2px;
}

::ng-deep .menu-link {
  border-radius: 0.475rem;
}

::ng-deep .menu-link.active,
::ng-deep .menu-item.here > .menu-link,
::ng-deep .menu-item.show > .menu-link {
  background-color: var(--bs-primary-light);
}

::ng-deep .menu-title {
  font-weight: 500;
}

::ng-deep .menu-sub {
  margin-left: .75rem;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}