//
// Form controls
//

.form-control {
  border-radius: 10px;

  &.form-control-transparent {
    background-color: transparent;
    border-color: transparent;

    .dropdown.show > &,
    &:active,
    &.active,
    &:focus,
    &.focus {
      background-color: transparent;
      border-color: transparent;
      box-shadow: var(--form-shadow-focus);
    }
  }

  &.form-control-flush {
    @include input-reset();
    border-radius: 10px;
  }
}

.form-control.form-control-solid {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.06);
  border-color: var(--form-border-focus);
  color: $input-solid-color;
  @include placeholder($input-solid-placeholder-color);
  transition: $transition-input;
  box-shadow: var(--form-shadow-focus);

  .dropdown.show > &,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background-color: rgba(255, 255, 255, 0.06);
    border-color: var(--form-border-focus);
    color: $input-solid-color;
    transition: $transition-input;
    box-shadow: var(--form-shadow-focus);
  }
}

.form-control-solid-bg {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.06);
  border-color: var(--form-border-focus);
  box-shadow: var(--form-shadow-focus);
}

.form-control-plaintext {
  border-radius: 10px;
  color: $input-plaintext-color;
}

.placeholder-gray-500 {
  @include placeholder(var(--#{$prefix}gray-500));
}

.placeholder-white {
  @include placeholder($white);
}

.resize-none {
  resize: none;
}
