<app-confirmation #deleteConfirmationComponent (dismissButtonClick)="delete($event)">
</app-confirmation>

<app-modal #modal [modalConfig]="modalConfig">
  <div class="pdf-upload-layout">

    <div class="upload-panel">
      <div class="upload-card">

        <div class="file-preview-box">
          <div class="file-icon-wrapper">
            <span
              [inlineSVG]="'./assets/media/svg/files/pdf.svg'"
              class="svg-icon svg-icon-3 file-icon"
            ></span>
          </div>

          <div class="file-name">
            {{ fileName || ('UPLOAD' | translate) }}
          </div>
        </div>

        <div class="upload-actions">
          <input
            type="file"
            hidden
            accept="application/pdf"
            (change)="onFileChange($event)"
            #fileUpload
          />

          <button
            type="button"
            class="primary-action"
            (click)="fileUpload.click()"
          >
            <span
              [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
              class="svg-icon svg-icon-3"
            ></span>
            {{ fileName ? ('CHANGE' | translate) : ('UPLOAD' | translate) }}
          </button>

          <button
            type="button"
            class="delete-action"
            (click)="openDeleteModal()"
            title="Delete"
          >
            <span
              [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
              class="svg-icon svg-icon-2"
            ></span>
          </button>
        </div>

      </div>
    </div>

    <div class="viewer-panel" *ngIf="pdfSrc">
      <div class="viewer-card">
        <pdf-viewer
          [src]="pdfSrc"
          [render-text]="true"
          [original-size]="true"
          [show-all]="true"
          class="pdf-viewer"
        ></pdf-viewer>
      </div>
    </div>

  </div>
</app-modal>