<ng-template #modal>
  <div class="modal-content custom-modal">
    <div class="modal-header custom-modal-header">
      <h2 class="custom-modal-title">{{ modalConfig.modalTitle }}</h2>

      <button
        type="button"
        class="custom-modal-close"
        (click)="close()"
        *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()"
        aria-label="Close"
      >
        <span
          class="svg-icon svg-icon-1"
          [inlineSVG]="'./assets/media/icons/duotune/arrows/arr061.svg'">
        </span>
      </button>
    </div>

    <div class="modal-body custom-modal-body">
      <ng-content></ng-content>
    </div>

    <div class="modal-footer custom-modal-footer">
      <button
        type="button"
        class="btn btn-sm custom-btn-primary"
        (click)="dismiss()"
        *ngIf="modalConfig.hideDismissButton === undefined || !modalConfig.hideDismissButton()"
        [disabled]="modalConfig.disableDismissButton !== undefined && modalConfig.disableDismissButton()"
      >
        {{ modalConfig.dismissButtonLabel }}
      </button>

      <button
        type="button"
        class="btn btn-sm custom-btn-secondary"
        (click)="close()"
        *ngIf="modalConfig.hideCloseButton === undefined || !modalConfig.hideCloseButton()"
        [disabled]="modalConfig.disableCloseButton !== undefined && modalConfig.disableCloseButton()"
      >
        {{ modalConfig.closeButtonLabel }}
      </button>
    </div>
  </div>
</ng-template>