<app-confirmation #confirmationComponent (dismissButtonClick)="delete($event)"></app-confirmation>
<app-address-editsave #editSaveComponent (isSuccess)="isSuccess($event)"></app-address-editsave>

<div *ngIf="user" class="address-book-page">
  <!-- HERO / HEADER -->
  <div class="address-book-hero mb-8">
    <div class="address-book-hero__content">
      <div class="address-book-hero__eyebrow">{{ 'MYADDRESSES' | translate }}</div>
      <h3 class="address-book-hero__title">{{ 'MYADDRESSES' | translate }}</h3>
      <div class="address-book-hero__subtitle">
        {{ 'MANAGE_ADDRESSES' | translate }}
      </div>
    </div>

    <div class="address-book-hero__actions">
      <button type="button" class="btn btn-primary address-add-btn" (click)="openSaveModal()">
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3 me-1"></span>
        {{ 'MENU.NEW' | translate }}
      </button>
    </div>
  </div>

  <!-- STATS / INFO STRIP -->
  <div class="address-book-strip mb-8" *ngIf="addresses.length > 0">
    <div class="address-book-strip__item">
      <span class="address-book-strip__label">{{ 'MYADDRESSES' | translate }}</span>
      <strong class="address-book-strip__value">{{ addresses.length }}</strong>
    </div>

    <div class="address-book-strip__divider"></div>

    <div class="address-book-strip__item">
      <span class="address-book-strip__label">{{ 'ADDRESS' | translate }}</span>
      <strong class="address-book-strip__value">{{ 'SAVED_ADDRESSES' | translate }}</strong>
    </div>
  </div>

  <!-- ADDRESS GRID -->
  <div class="row g-6" *ngIf="addresses.length > 0; else emptyState">
    <div class="col-12 col-md-6 col-xxl-4" *ngFor="let item of addresses">
      <div class="address-premium-card h-100">

        <!-- TOP -->
        <div class="address-premium-card__top">
          <div class="address-premium-card__avatar">
            <span [inlineSVG]="'./assets/media/icons/duotune/communication/com006.svg'"
              class="svg-icon svg-icon-2"></span>
          </div>

          <div class="address-premium-card__top-content">
            <div class="address-premium-card__header-row">

              <div>
                <div class="address-premium-card__title">
                  {{ item.addressHeader }}
                </div>
                <div class="address-premium-card__person">
                  {{ item.name }} {{ item.surname }}
                </div>
              </div>

              <!-- ACTIONS -->
              <div class="address-premium-card__actions">
                <button type="button" class="btn btn-icon btn-sm btn-light-primary" (click)="openEditModal(item.id)"
                  [title]="'EDIT' | translate">
                  <span [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'" class="svg-icon svg-icon-2"></span>
                </button>

                <button type="button" class="btn btn-icon btn-sm btn-light-danger" (click)="openDeleteModal(item.id)"
                  [title]="'DELETE' | translate">
                  <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                    class="svg-icon svg-icon-2"></span>
                </button>
              </div>

            </div>
          </div>
        </div>

        <!-- BODY -->
        <div class="address-premium-card__body">

          <div class="address-meta-row">
            <div class="address-meta-row__icon">
              <span [inlineSVG]="'./assets/media/icons/duotune/maps/map001.svg'" class="svg-icon svg-icon-4"></span>
            </div>

            <div class="address-meta-row__content">
              <div class="address-meta-row__label">
                {{ 'ADDRESS' | translate }}
              </div>
              <div class="address-meta-row__value">
                {{ item.address }}
              </div>
            </div>
          </div>

          <div class="address-meta-row">
            <div class="address-meta-row__icon">
              <span [inlineSVG]="'./assets/media/icons/duotune/maps/map004.svg'" class="svg-icon svg-icon-4"></span>
            </div>

            <div class="address-meta-row__content">
              <div class="address-meta-row__label">
                {{ 'LOCATION' | translate }}
              </div>
              <div class="address-meta-row__value">
                {{ item.district }} / {{ item.city }} / {{ item.country }}
              </div>
            </div>
          </div>

          <div class="address-meta-row">
            <div class="address-meta-row__icon">
              <span [inlineSVG]="'./assets/media/icons/duotune/communication/com005.svg'"
                class="svg-icon svg-icon-4"></span>
            </div>

            <div class="address-meta-row__content">
              <div class="address-meta-row__label">
                {{ 'CONTRACT_PHONE' | translate }}
              </div>
              <div class="address-meta-row__value address-meta-row__value--strong">
                {{ item.phone }}
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <!-- EMPTY STATE -->
  <ng-template #emptyState>
    <div class="address-empty-state">
      <div class="address-empty-state__icon">
        <span [inlineSVG]="'./assets/media/icons/duotune/general/gen005.svg'" class="svg-icon svg-icon-3x"></span>
      </div>

      <div class="address-empty-state__title">{{ 'NO_DATA_AVAILABLE' | translate }}</div>
      <div class="address-empty-state__subtitle">{{ 'NO_ADDRESS_FOUND' | translate }}</div>

      <button type="button" class="btn btn-primary px-6" (click)="openSaveModal()">
        <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'" class="svg-icon svg-icon-3 me-1"></span>
        {{ 'MENU.NEW' | translate }}
      </button>
    </div>
  </ng-template>
</div>