<app-confirmation
  #confirmationComponent
  (dismissButtonClick)="delete($event)"
></app-confirmation>

<app-address-editsave
  #editSaveComponent
  (isSuccess)="isSuccess($event)"
></app-address-editsave>

<div class="address-card-wrapper" *ngIf="user">
  <div class="address-card">
    <div class="address-card-header">
      <div class="address-title-area">
        <h3>{{ 'MYADDRESSES' | translate }}</h3>
      </div>

      <div class="address-toolbar">
        <button type="button" class="btn-primary" (click)="openSaveModal()">
          <span
            [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
            class="svg-icon svg-icon-3"
          ></span>
          {{ 'MENU.NEW' | translate }}
        </button>
      </div>
    </div>

    <div class="address-card-body">
      <div class="address-grid" *ngIf="addresses.length > 0">
        <ng-container *ngFor="let item of addresses">
          <div class="address-item-card">
            <div class="address-item-header">
              <div class="address-item-title">
                {{ item.addressHeader }}
              </div>

              <div class="address-item-actions">
                <button
                  (click)="openDeleteModal(item.id)"
                  type="button"
                  class="icon-btn danger"
                  title="Delete"
                >
                  <span
                    [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                    class="svg-icon svg-icon-2"
                  ></span>
                </button>

                <button
                  (click)="openEditModal(item.id)"
                  type="button"
                  class="icon-btn primary"
                  title="Edit"
                >
                  <span
                    [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
                    class="svg-icon svg-icon-2"
                  ></span>
                </button>
              </div>
            </div>

            <div class="address-item-body">
              <div class="address-name">
                {{ item.name }} {{ item.surname }}
              </div>

              <div class="address-line">
                {{ item.address }}
              </div>

              <div class="address-line">
                {{ item.district }}/{{ item.city }}
              </div>

              <div class="address-line">
                {{ item.country }}
              </div>

              <div class="address-phone">
                {{ item.phone }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div class="empty-state" *ngIf="addresses.length == 0">
        <div class="empty-state-card">
          <div class="empty-state-text">
            {{ 'NO_DATA_AVAILABLE' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>