<!--begin::Aside Menu-->
<div
  id="kt_aside_menu"
  class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6"
  data-kt-menu="true"
>
  <ng-container *ngFor="let menu of menuList">

    <!-- Normal Menu -->
    <div
      class="menu-item"
      *ngIf="(!menu.childMenus || menu.childMenus.length === 0) && !menu.isForbid"
    >
      <a
        class="menu-link"
        [routerLink]="menu.url"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="menu-title">
          {{
            ("LANG" | translate) === "tr"
              ? menu.name
              : menu.nameEn
          }}
        </span>
      </a>
    </div>

    <!-- Accordion -->
    <div
      class="menu-item menu-accordion"
      *ngIf="menu.childMenus && menu.childMenus.length > 0 && !menu.isForbid"
      data-kt-menu-trigger="click"
      routerLinkActive="here show"
    >
      <span class="menu-link">
        <span class="menu-title">
          {{
            ("LANG" | translate) === "tr"
              ? menu.name
              : menu.nameEn
          }}
        </span>

        <span class="menu-arrow"></span>
      </span>

      <!-- Sub Menu -->
      <div class="menu-sub menu-sub-accordion">

        <ng-container *ngFor="let childMenu of menu.childMenus">

          <div
            class="menu-item"
            *ngIf="!childMenu.isForbid"
          >
            <a
              class="menu-link"
              [routerLink]="childMenu.url"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <span class="menu-title">
                {{
                  ("LANG" | translate) === "tr"
                    ? childMenu.name
                    : childMenu.nameEn
                }}
              </span>
            </a>
          </div>

        </ng-container>

      </div>
    </div>

  </ng-container>

  <div class="menu-item">
    <div class="menu-content">
      <div class="separator my-5 opacity-25"></div>
    </div>
  </div>
</div>
<!--end::Aside Menu-->