:host {
  display: block;
}

:host ::ng-deep .ng-select-container {
  min-height: 43px;
}

:host input[type="date"].form-control {
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-gray-300);
}

:host input[type="date"].form-control:focus {
  border-color: var(--bs-primary);
}
