<div
  class="layer-filter-panel"
  (click)="$event.stopPropagation()"
  (mousedown)="$event.stopPropagation()"
  (mouseup)="$event.stopPropagation()"
>
  <div class="layer-filter-panel__header">
    <div class="layer-filter-panel__title">
      <i class="fa-solid fa-filter text-primary"></i>
      {{ layer?.name || layer?.layerName }}
    </div>

    <button
      type="button"
      class="layer-filter-panel__close"
      (click)="closed.emit()"
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <div class="layer-filter-panel__body">
    <div *ngIf="isLoading" class="layer-filter-panel__state">
      Öznitelikler yükleniyor...
    </div>

    <div *ngIf="!isLoading && errorMessage" class="layer-filter-panel__state text-danger">
      {{ errorMessage }}
    </div>

    <ng-container *ngIf="!isLoading && !errorMessage">
      <div class="layer-filter-panel__rules">
        <div
          class="filter-rule"
          *ngFor="let rule of rules; let i = index"
        >
          <div class="filter-rule__logic" *ngIf="i > 0">
            <app-custom-select
              [size]="'lg'"
              [items]="logicItems"
              bindLabel="label"
              bindValue="value"
              [multiple]="false"
              [clearable]="false"
              placeholder="Bağlaç"
              [(ngModel)]="rule.logic"
              [ngModelOptions]="{ standalone: true }"
            >
            </app-custom-select>
          </div>

          <div class="filter-rule__row">
            <div class="filter-rule__field">
              <label class="filter-label">Öznitelik</label>

              <app-custom-select
                [size]="'lg'"
                [items]="fieldItems"
                bindLabel="label"
                bindValue="value"
                [multiple]="false"
                [clearable]="true"
                placeholder="Öznitelik seçiniz"
                [(ngModel)]="rule.field"
                [ngModelOptions]="{ standalone: true }"
              >
              </app-custom-select>
            </div>

            <div class="filter-rule__operator">
              <label class="filter-label">Operatör</label>

              <app-custom-select
                [size]="'lg'"
                [items]="operatorItems"
                bindLabel="label"
                bindValue="value"
                [multiple]="false"
                [clearable]="false"
                placeholder="Operatör"
                [(ngModel)]="rule.operator"
                [ngModelOptions]="{ standalone: true }"
              >
              </app-custom-select>
            </div>

            <div class="filter-rule__value">
              <label class="filter-label">Değer</label>

              <input
                type="text"
                class="form-control form-control-lg"
                [(ngModel)]="rule.value"
                [ngModelOptions]="{ standalone: true }"
                placeholder="Değer giriniz"
              />
            </div>

            <button
              type="button"
              class="filter-rule__remove"
              (click)="removeRule(i)"
              [disabled]="rules.length === 1"
              title="Filtreyi sil"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>

      <button
        type="button"
        class="layer-filter-panel__add"
        (click)="addRule()"
      >
        <i class="fa-solid fa-plus"></i>
        Filtre ekle
      </button>
    </ng-container>
  </div>

  <div class="layer-filter-panel__footer" *ngIf="!isLoading && !errorMessage">
    <button
      type="button"
      class="btn btn-light"
      (click)="clearFilter()"
    >
      Temizle
    </button>

    <button
      type="button"
      class="btn btn-primary"
      (click)="applyFilter()"
    >
      Filtrele
    </button>
  </div>
</div>