<app-organization-editsave #editSaveComponent (isSuccess)="isSuccess($event)">
</app-organization-editsave>

<app-confirmation #confirmationComponent (dismissButtonClick)="delete($event)">
</app-confirmation>

<!-- TABLE -->
<app-datatable [header]="tableName" [paginationModel]="paginationModel" [dataSource]="dataSource"
  [totalCount]="totalCount" [columnList]="columnList" (paginationModelChange)="paginationModelChange($event)"
  (newButtonClick)="openSaveModal($event)" (filterModelChange)="onFilterModelChange($event)"
  (editButtonClick)="openEditModal($event)" (deleteButtonClick)="openDeleteModal($event)" (exportExcelClick)="exportExcel($event)"
  class="card card-xxl-stretch border-0 mb-5 mb-xl-8" [hasEditPermission]="hasEditPermission" [hasExportPermission]="hasExportPermission"
  [hasDeletePermission]="hasDeletePermission" [hasNewRecordPermission]="hasNewRecordPermission"></app-datatable>