<app-custom-modal
  [isOpen]="isModalOpen"
  [title]="modalTitle"
  [subtitle]="'ADDRESS_FORM.TITLE' | translate"
  [width]="'900px'"
  (closed)="closeModal()"
  (submitted)="submit()"
  variant="center"
  [showFooter]="true"
>
  <form class="form w-100" [formGroup]="form" novalidate>
    <div class="row">

      <!-- NAME -->
      <div class="col-md-6 fv-row mb-8">
        <label class="form-label fw-bolder text-gray-900">
          {{ 'NAME' | translate }}
        </label>
        <input
          class="form-control form-control-lg form-control-solid"
          formControlName="name"
          [placeholder]="'NAME' | translate"
          [ngClass]="{ 'is-invalid': isInvalid('name') }"
        />
        <div class="invalid-feedback d-block" *ngIf="isInvalid('name')">
          {{ 'NAME' | translate }} {{ 'IS_REQUIRED' | translate }}
        </div>
      </div>

      <!-- SURNAME -->
      <div class="col-md-6 fv-row mb-8">
        <label class="form-label fw-bolder text-gray-900">
          {{ 'SURNAME' | translate }}
        </label>
        <input
          class="form-control form-control-lg form-control-solid"
          formControlName="surname"
          [placeholder]="'SURNAME' | translate"
          [ngClass]="{ 'is-invalid': isInvalid('surname') }"
        />
        <div class="invalid-feedback d-block" *ngIf="isInvalid('surname')">
          {{ 'SURNAME' | translate }} {{ 'IS_REQUIRED' | translate }}
        </div>
      </div>

      <!-- PHONE -->
      <div class="col-md-6 fv-row mb-8">
        <label class="form-label fw-bolder text-gray-900">
          {{ 'PHONE' | translate }}
        </label>
        <input
          type="tel"
          class="form-control form-control-lg form-control-solid"
          formControlName="phone"
          mask="(000) 000 00 00"
          [showMaskTyped]="true"
          [dropSpecialCharacters]="false"
          placeholder="05xx xxx xx xx"
          [ngClass]="{ 'is-invalid': isInvalid('phone') }"
        />

        <div
          class="invalid-feedback d-block"
          *ngIf="f['phone'].errors?.['required'] && (f['phone'].dirty || f['phone'].touched)"
        >
          {{ 'PHONE' | translate }} {{ 'IS_REQUIRED' | translate }}
        </div>

        <div
          class="invalid-feedback d-block"
          *ngIf="f['phone'].errors?.['pattern'] && (f['phone'].dirty || f['phone'].touched)"
        >
          {{ 'INVALID_PHONE' | translate }}
        </div>
      </div>

      <!-- COUNTRY -->
      <div class="col-md-6 fv-row mb-8">
        <label class="form-label fw-bolder text-gray-900">
          {{ 'COUNTRY' | translate }}
        </label>
        <input
          class="form-control form-control-lg form-control-solid"
          formControlName="country"
          [placeholder]="'COUNTRY' | translate"
          [ngClass]="{ 'is-invalid': isInvalid('country') }"
        />
        <div class="invalid-feedback d-block" *ngIf="isInvalid('country')">
          {{ 'COUNTRY' | translate }} {{ 'IS_REQUIRED' | translate }}
        </div>
      </div>

      <!-- CITY -->
      <div class="col-md-6 fv-row mb-8">
        <label class="form-label fw-bolder text-gray-900">
          {{ 'CITY' | translate }}
        </label>
        <input
          class="form-control form-control-lg form-control-solid"
          formControlName="city"
          [placeholder]="'CITY' | translate"
          [ngClass]="{ 'is-invalid': isInvalid('city') }"
        />
        <div class="invalid-feedback d-block" *ngIf="isInvalid('city')">
          {{ 'CITY' | translate }} {{ 'IS_REQUIRED' | translate }}
        </div>
      </div>

      <!-- DISTRICT -->
      <div class="col-md-6 fv-row mb-8">
        <label class="form-label fw-bolder text-gray-900">
          {{ 'DISTRICT' | translate }}
        </label>
        <input
          class="form-control form-control-lg form-control-solid"
          formControlName="district"
          [placeholder]="'DISTRICT' | translate"
          [ngClass]="{ 'is-invalid': isInvalid('district') }"
        />
        <div class="invalid-feedback d-block" *ngIf="isInvalid('district')">
          {{ 'DISTRICT' | translate }} {{ 'IS_REQUIRED' | translate }}
        </div>
      </div>

      <!-- ADDRESS -->
      <div class="col-12 fv-row mb-8">
        <label class="form-label fw-bolder text-gray-900">
          {{ 'ADDRESS' | translate }}
        </label>
        <textarea
          class="form-control form-control-lg form-control-solid"
          formControlName="address"
          [placeholder]="'ADDRESS' | translate"
          [ngClass]="{ 'is-invalid': isInvalid('address') }"
        ></textarea>
        <div class="invalid-feedback d-block" *ngIf="isInvalid('address')">
          {{ 'ADDRESS' | translate }} {{ 'IS_REQUIRED' | translate }}
        </div>
      </div>

      <!-- ADDRESS HEADER -->
      <div class="col-12 fv-row mb-8 select-field">
        <label class="form-label fw-bolder text-gray-900">
          {{ 'ADDRESS_HEADER' | translate }}
        </label>
        <input
          class="form-control form-control-lg form-control-solid"
          formControlName="addressHeader"
          [placeholder]="'ADDRESS_HEADER' | translate"
          [ngClass]="{ 'is-invalid': isInvalid('addressHeader') }"
        />
        <div class="invalid-feedback d-block" *ngIf="isInvalid('addressHeader')">
          {{ 'ADDRESS_HEADER' | translate }} {{ 'IS_REQUIRED' | translate }}
        </div>
      </div>

      <!-- INVOICE TYPE -->
      <div class="col-12 fv-row mb-8">
        <label class="form-label fw-bolder text-gray-900">
          {{ 'INVOICE_TYPE' | translate }}
        </label>

        <app-custom-select
          formControlName="invoiceType"
          [items]="invoiceTypes"
          bindLabel="name"
          bindValue="id"
          [placeholder]="'SELECT_INVOICE_TYPE' | translate"
          [invalid]="isInvalid('invoiceType')"
        ></app-custom-select>

        <div class="invalid-feedback d-block" *ngIf="isInvalid('invoiceType')">
          {{ 'INVOICE_TYPE' | translate }} {{ 'IS_REQUIRED' | translate }}
        </div>
      </div>

      <!-- CORPORATE -->
      <ng-container *ngIf="form.controls['invoiceType'].value == 2">

        <div class="col-md-6 fv-row mb-8">
          <label class="form-label">{{ 'TAX_NO' | translate }}</label>
          <input
            class="form-control form-control-solid"
            formControlName="vkn"
            [ngClass]="{ 'is-invalid': isInvalid('vkn') }"
          />
          <div class="invalid-feedback d-block" *ngIf="isInvalid('vkn')">
            {{ 'TAX_NO' | translate }} {{ 'IS_REQUIRED' | translate }}
          </div>
        </div>

        <div class="col-md-6 fv-row mb-8">
          <label class="form-label">{{ 'TAX_OFFICE' | translate }}</label>
          <input
            class="form-control form-control-solid"
            formControlName="vergiDairesi"
            [ngClass]="{ 'is-invalid': isInvalid('vergiDairesi') }"
          />
          <div class="invalid-feedback d-block" *ngIf="isInvalid('vergiDairesi')">
            {{ 'TAX_OFFICE' | translate }} {{ 'IS_REQUIRED' | translate }}
          </div>
        </div>

        <div class="col-md-6 fv-row mb-8">
          <label class="form-label">{{ 'FIRM_NAME' | translate }}</label>
          <input
            class="form-control form-control-solid"
            formControlName="firmaAdi"
            [ngClass]="{ 'is-invalid': isInvalid('firmaAdi') }"
          />
          <div class="invalid-feedback d-block" *ngIf="isInvalid('firmaAdi')">
            {{ 'FIRM_NAME' | translate }} {{ 'IS_REQUIRED' | translate }}
          </div>
        </div>

      </ng-container>

    </div>
  </form>
</app-custom-modal>