<app-modal #modal [modalConfig]="modalConfig">
  <form class="modern-form" [formGroup]="form" novalidate="novalidate">
    <div class="form-grid">
      <div class="form-group">
        <label>
          {{ 'NAME' | translate }}
        </label>
        <input
          type="text"
          name="name"
          formControlName="name"
          autocomplete="off"
          [ngClass]="{
            'invalid': form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched),
            'is-valid': form.controls['name'].valid && (form.controls['name'].dirty || form.controls['name'].touched)
          }"
        />
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: ('NAME' | translate) + ' ' + ('IS_REQUIRED' | translate),
            control: form.controls['name']
          }"
        ></ng-container>
      </div>

      <div class="form-group">
        <label>
          {{ 'SURNAME' | translate }}
        </label>
        <input
          type="text"
          name="surname"
          formControlName="surname"
          autocomplete="off"
          [ngClass]="{
            'invalid': form.controls['surname'].invalid && (form.controls['surname'].dirty || form.controls['surname'].touched),
            'is-valid': form.controls['surname'].valid && (form.controls['surname'].dirty || form.controls['surname'].touched)
          }"
        />
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: ('SURNAME' | translate) + ' ' + ('IS_REQUIRED' | translate),
            control: form.controls['surname']
          }"
        ></ng-container>
      </div>

      <div class="form-group">
        <label>
          {{ 'PHONE' | translate }}
        </label>
        <input
          type="text"
          name="phone"
          formControlName="phone"
          autocomplete="off"
          [ngClass]="{
            'invalid': form.controls['phone'].invalid && (form.controls['phone'].dirty || form.controls['phone'].touched),
            'is-valid': form.controls['phone'].valid && (form.controls['phone'].dirty || form.controls['phone'].touched)
          }"
        />
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: ('PHONE' | translate) + ' ' + ('IS_REQUIRED' | translate),
            control: form.controls['phone']
          }"
        ></ng-container>
      </div>

      <div class="form-group">
        <label>
          {{ 'COUNTRY' | translate }}
        </label>
        <input
          type="text"
          name="country"
          formControlName="country"
          autocomplete="off"
          [ngClass]="{
            'invalid': form.controls['country'].invalid && (form.controls['country'].dirty || form.controls['country'].touched),
            'is-valid': form.controls['country'].valid && (form.controls['country'].dirty || form.controls['country'].touched)
          }"
        />
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: ('COUNTRY' | translate) + ' ' + ('IS_REQUIRED' | translate),
            control: form.controls['country']
          }"
        ></ng-container>
      </div>

      <div class="form-group">
        <label>
          {{ 'CITY' | translate }}
        </label>
        <input
          type="text"
          name="city"
          formControlName="city"
          autocomplete="off"
          [ngClass]="{
            'invalid': form.controls['city'].invalid && (form.controls['city'].dirty || form.controls['city'].touched),
            'is-valid': form.controls['city'].valid && (form.controls['city'].dirty || form.controls['city'].touched)
          }"
        />
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: ('CITY' | translate) + ' ' + ('IS_REQUIRED' | translate),
            control: form.controls['city']
          }"
        ></ng-container>
      </div>

      <div class="form-group">
        <label>
          {{ 'DISTRICT' | translate }}
        </label>
        <input
          type="text"
          name="district"
          formControlName="district"
          autocomplete="off"
          [ngClass]="{
            'invalid': form.controls['district'].invalid && (form.controls['district'].dirty || form.controls['district'].touched),
            'is-valid': form.controls['district'].valid && (form.controls['district'].dirty || form.controls['district'].touched)
          }"
        />
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: ('DISTRICT' | translate) + ' ' + ('IS_REQUIRED' | translate),
            control: form.controls['district']
          }"
        ></ng-container>
      </div>

      <div class="form-group form-group-full">
        <label>
          {{ 'ADDRESS' | translate }}
        </label>
        <textarea
          name="address"
          formControlName="address"
          autocomplete="off"
          [ngClass]="{
            'invalid': form.controls['address'].invalid && (form.controls['address'].dirty || form.controls['address'].touched),
            'is-valid': form.controls['address'].valid && (form.controls['address'].dirty || form.controls['address'].touched)
          }"
        ></textarea>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: ('ADDRESS' | translate) + ' ' + ('IS_REQUIRED' | translate),
            control: form.controls['address']
          }"
        ></ng-container>
      </div>

      <div class="form-group form-group-full">
        <label>
          {{ 'ADDRESS_HEADER' | translate }}
        </label>
        <input
          type="text"
          name="addressHeader"
          formControlName="addressHeader"
          autocomplete="off"
          [ngClass]="{
            'invalid': form.controls['addressHeader'].invalid && (form.controls['addressHeader'].dirty || form.controls['addressHeader'].touched),
            'is-valid': form.controls['addressHeader'].valid && (form.controls['addressHeader'].dirty || form.controls['addressHeader'].touched)
          }"
        />
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: ('ADDRESS_HEADER' | translate) + ' ' + ('IS_REQUIRED' | translate),
            control: form.controls['addressHeader']
          }"
        ></ng-container>
      </div>

      <div class="form-group form-group-full">
        <label>
          {{ 'INVOICE_TYPE' | translate }}
        </label>

        <div class="select-wrapper">
          <select
            name="invoiceType"
            formControlName="invoiceType"
            autocomplete="off"
            [ngClass]="{
              'invalid': form.controls['invoiceType'].invalid && (form.controls['invoiceType'].dirty || form.controls['invoiceType'].touched),
              'is-valid': form.controls['invoiceType'].valid && (form.controls['invoiceType'].dirty || form.controls['invoiceType'].touched)
            }"
          >
            <option value="">{{ 'SELECT_INVOICE_TYPE' | translate }}</option>
            <ng-container *ngFor="let item of invoiceTypes">
              <option [value]="item.id">{{ item.name }}</option>
            </ng-container>
          </select>
          <span class="select-arrow"></span>
        </div>

        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: ('INVOICE_TYPE' | translate) + ' ' + ('IS_REQUIRED' | translate),
            control: form.controls['invoiceType']
          }"
        ></ng-container>
      </div>

      <ng-container *ngIf="form.controls['invoiceType'].value == 2">
        <div class="form-group">
          <label>
            {{ 'TAX_NO' | translate }}
          </label>
          <input
            type="text"
            name="vkn"
            formControlName="vkn"
            autocomplete="off"
            [ngClass]="{
              'invalid': form.controls['vkn'].invalid && (form.controls['vkn'].dirty || form.controls['vkn'].touched),
              'is-valid': form.controls['vkn'].valid && (form.controls['vkn'].dirty || form.controls['vkn'].touched)
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: ('TAX_NO' | translate) + ' ' + ('IS_REQUIRED' | translate),
              control: form.controls['vkn']
            }"
          ></ng-container>
        </div>

        <div class="form-group">
          <label>
            {{ 'TAX_OFFICE' | translate }}
          </label>
          <input
            type="text"
            name="vergiDairesi"
            formControlName="vergiDairesi"
            autocomplete="off"
            [ngClass]="{
              'invalid': form.controls['vergiDairesi'].invalid && (form.controls['vergiDairesi'].dirty || form.controls['vergiDairesi'].touched),
              'is-valid': form.controls['vergiDairesi'].valid && (form.controls['vergiDairesi'].dirty || form.controls['vergiDairesi'].touched)
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: ('TAX_OFFICE' | translate) + ' ' + ('IS_REQUIRED' | translate),
              control: form.controls['vergiDairesi']
            }"
          ></ng-container>
        </div>

        <div class="form-group form-group-full">
          <label>
            {{ 'FIRM_NAME' | translate }}
          </label>
          <input
            type="text"
            name="firmaAdi"
            formControlName="firmaAdi"
            autocomplete="off"
            [ngClass]="{
              'invalid': form.controls['firmaAdi'].invalid && (form.controls['firmaAdi'].dirty || form.controls['firmaAdi'].touched),
              'is-valid': form.controls['firmaAdi'].valid && (form.controls['firmaAdi'].dirty || form.controls['firmaAdi'].touched)
            }"
          />
          <ng-container
            [ngTemplateOutlet]="formError"
            [ngTemplateOutletContext]="{
              validation: 'required',
              message: ('FIRM_NAME' | translate) + ' ' + ('IS_REQUIRED' | translate),
              control: form.controls['firmaAdi']
            }"
          ></ng-container>
        </div>
      </ng-container>
    </div>
  </form>

  <ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
      <div class="error">
        <span role="alert">{{ message }}</span>
      </div>
    </ng-container>
  </ng-template>
</app-modal>