.go-coordinate-panel-body {
  width: 100%;
  padding: 16px;
  background: var(--bs-body-bg);
}

.go-coordinate-label {
  color: var(--bs-gray-700);
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px;
}

.invalid-feedback {
  font-size: 12px;
  font-weight: 500;
}
