<app-custom-modal
  [isOpen]="isModalOpen"
  [title]="modalTitle"
  [subtitle]="'PERMISSION_FORM.TITLE' | translate"
  [width]="'760px'"
  variant="center"
  [showFooter]="true"
  (closed)="isModalOpen = false"
  (submitted)="submit()"
>
  <form class="form" [formGroup]="form" novalidate>

    <div class="row g-8">

      <!-- NAME -->
      <div class="col-lg-6">
        <div class="fv-row">
          <label class="required form-label fw-semibold fs-6 mb-2">
            {{ 'PERMISSION_FORM.NAME' | translate }}
          </label>

          <input
            type="text"
            class="form-control"
            formControlName="name"
            autocomplete="off"
            [placeholder]="'PERMISSION_FORM.NAME' | translate"
            [ngClass]="{ 'is-invalid': isInvalid('name') }"
          />

          <div class="fv-plugins-message-container" *ngIf="isInvalid('name')">
            <div class="fv-help-block text-danger" *ngIf="f['name'].errors?.['required']">
              {{ 'PERMISSION_FORM.REQUIRED_NAME' | translate }}
            </div>

            <div class="fv-help-block text-danger" *ngIf="f['name'].errors?.['minlength']">
              {{
                'PERMISSION_FORM.FORM.MIN_LENGTH'
                  | translate:{ min: f['name'].errors?.['minlength']?.requiredLength }
              }}
            </div>

            <div class="fv-help-block text-danger" *ngIf="f['name'].errors?.['maxlength']">
              {{
                'PERMISSION_FORM.FORM.MAX_LENGTH'
                  | translate:{ max: f['name'].errors?.['maxlength']?.requiredLength }
              }}
            </div>
          </div>
        </div>
      </div>

      <!-- CODE -->
      <div class="col-lg-6">
        <div class="fv-row">
          <label class="required form-label fw-semibold fs-6 mb-2">
            {{ 'PERMISSION_FORM.CODE' | translate }}
          </label>

          <input
            type="text"
            class="form-control"
            formControlName="code"
            autocomplete="off"
            [placeholder]="'PERMISSION_FORM.CODE' | translate"
            [ngClass]="{ 'is-invalid': isInvalid('code') }"
          />

          <div class="fv-plugins-message-container" *ngIf="isInvalid('code')">
            <div class="fv-help-block text-danger" *ngIf="f['code'].errors?.['required']">
              {{ 'PERMISSION_FORM.REQUIRED_CODE' | translate }}
            </div>

            <div class="fv-help-block text-danger" *ngIf="f['code'].errors?.['minlength']">
              {{
                'PERMISSION_FORM.FORM.MIN_LENGTH'
                  | translate:{ min: f['code'].errors?.['minlength']?.requiredLength }
              }}
            </div>

            <div class="fv-help-block text-danger" *ngIf="f['code'].errors?.['maxlength']">
              {{
                'PERMISSION_FORM.FORM.MAX_LENGTH'
                  | translate:{ max: f['code'].errors?.['maxlength']?.requiredLength }
              }}
            </div>
          </div>
        </div>
      </div>

    </div>

  </form>
</app-custom-modal>