<app-modal #modal [modalConfig]="modalConfig">
  <form class="form modern-form" [formGroup]="form" novalidate>

    <div class="form-grid">

      <!-- NAME -->
      <div class="form-group">
        <label>{{ 'NAME' | translate }}</label>
        <input
          type="text"
          formControlName="name"
          [class.invalid]="f['name'].invalid && (f['name'].touched || f['name'].dirty)"
        />
        <span class="error"
              *ngIf="f['name'].hasError('required') && (f['name'].touched || f['name'].dirty)">
          {{ 'REQUIRED_NAME' | translate }}
        </span>
      </div>

      <!-- CODE -->
      <div class="form-group">
        <label>{{ 'CODE' | translate }}</label>
        <input
          type="text"
          formControlName="code"
          [class.invalid]="f['code'].invalid && (f['code'].touched || f['code'].dirty)"
        />
        <span class="error"
              *ngIf="f['code'].hasError('required') && (f['code'].touched || f['code'].dirty)">
          {{ 'REQUIRED_CODE' | translate }}
        </span>
      </div>
    </div>
  </form>
</app-modal>