<ng-container *ngIf="asideMenuSecondary">
  <!--begin::Secondary-->
  <div class="aside-secondary d-flex flex-row-fluid">
    <!--begin::Workspace-->
    <div class="aside-workspace my-5 p-5" id="kt_aside_wordspace">
      <app-tabs-aside-inner  [isAdmin]="isAdmin" [activeTab]="activeTab" class="d-flex h-100 flex-column"></app-tabs-aside-inner>
    </div>
    <!--end::Workspace-->
  </div>
  <!--end::Secondary-->

  <!--begin::Aside Toggle-->
  <!-- <button id="kt_aside_toggle"
    class="btn btn-sm btn-icon bg-body btn-color-gray-700 btn-active-primary position-absolute translate-middle start-100 end-0 bottom-0 shadow-sm d-none d-lg-flex <?php Theme::printHtmlClasses('asideToggle', false)?>"
    data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body"
    data-kt-toggle-name="aside-minimize" style="margin-bottom: 1.35rem">
    <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr063.svg'" class="svg-icon svg-icon-2 rotate-180"></span>
  </button> -->
  <!--end::Aside Toggle-->
</ng-container>
