<app-custom-modal [isOpen]="isModalOpen" [title]="modalTitle" [subtitle]="'STATUS' | translate" [width]="'600px'"
  (closed)="closeModal()" (submitted)="submit()" variant="center" [showFooter]="true">
  <form class="form w-100" [formGroup]="form" novalidate>

    <div class="fv-row mb-8">
      <label class="form-label fs-6 fw-bolder text-gray-900">
        {{ 'STATUS' | translate }}
      </label>

      <app-custom-select formControlName="orderStatus" [items]="status" bindLabel="name" bindValue="id"
        [placeholder]="'SELECT_A_STATUS' | translate"
        [invalid]="f['orderStatus'].invalid && (f['orderStatus'].touched || f['orderStatus'].dirty)">
      </app-custom-select>

      <div class="invalid-feedback d-block"
        *ngIf="f['orderStatus'].hasError('required') && (f['orderStatus'].touched || f['orderStatus'].dirty)">
        {{ 'STATUS' | translate }} {{ 'IS_REQUIRED' | translate }}
      </div>
    </div>

  </form>
</app-custom-modal>