<app-modal #modal [modalConfig]="modalConfig">
    <form class="form modern-form" [formGroup]="form" novalidate>

        <div class="form-grid">
            <div class="form-group">
                <label>{{ 'STATUS' | translate }}</label>

                <div class="select-wrapper">
                    <select formControlName="orderStatus"
                        [class.invalid]="f['orderStatus'].invalid && (f['orderStatus'].touched || f['orderStatus'].dirty)">
                        <option value="">{{ 'SELECT_A_STATUS' | translate }}</option>
                        <ng-container *ngFor="let item of status">
                            <option [value]="item.id">{{ item.name }}</option>
                        </ng-container>
                    </select>

                    <!-- custom arrow -->
                    <span class="select-arrow"></span>
                </div>

                <span class="error"
                    *ngIf="f['orderStatus'].hasError('required') && (f['orderStatus'].touched || f['orderStatus'].dirty)">
                    {{ 'STATUS' | translate }} {{ 'IS_REQUIRED' | translate }}
                </span>
            </div>
        </div>

    </form>
</app-modal>