:host {
  display: none;
  background: #fff;
  border-radius: .75rem;
}

:host.show {
  display: block !important;
}

.scroll-y {
  background: #fff;
}

.notification-item {
  cursor: pointer;
  background: #fff;
  transition: all .2s ease;
  border-bottom: 1px solid var(--bs-gray-200);

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background: var(--bs-gray-100);
  }

  &.unread {
    background: #f7faff;

    &:hover {
      background: #eef4ff;
    }

    .fw-bold {
      color: var(--bs-gray-900);
    }
  }
}

.symbol-label {
  transition: .2s;
}

.notification-item:hover .symbol-label {
  transform: scale(1.05);
}

.btn-icon {
  opacity: .55;
  transition: .2s;
}

.notification-item:hover .btn-icon {
  opacity: 1;
}

.badge-light-danger {
  border-radius: 30px;
}

.scroll-y::-webkit-scrollbar {
  width: 6px;
}

.scroll-y::-webkit-scrollbar-thumb {
  background: var(--bs-gray-400);
  border-radius: 20px;
}

.scroll-y::-webkit-scrollbar-track {
  background: transparent;
}