<app-modal #modal [modalConfig]="modalConfig">
  <form class="form modern-form" [formGroup]="form" novalidate>
    <div class="form-grid">
      <!-- NAME -->
      <div class="form-group">
        <label>{{ 'NAME' | translate }}</label>
        <input
          type="text"
          formControlName="name"
          autocomplete="off"
          [class.invalid]="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"
        />

        <span
          class="error"
          *ngIf="form.controls['name'].hasError('required') && (form.controls['name'].dirty || form.controls['name'].touched)"
        >
          {{ 'REQUIRED_NAME' | translate }}
        </span>
      </div>

      <!-- PERMISSIONS -->
      <div class="form-group form-group-full">
        <label>{{ 'PERMISSIONS' | translate }}</label>

        <select
          multiple
          formControlName="permissions"
          autocomplete="off"
          class="multi-select"
          [class.invalid]="form.controls['permissions'].invalid && (form.controls['permissions'].dirty || form.controls['permissions'].touched)"
        >
          <ng-container *ngFor="let item of permissionList">
            <option [ngValue]="item.id">{{ item.name }}</option>
          </ng-container>
        </select>

        <span
          class="error"
          *ngIf="form.controls['permissions'].hasError('required') && (form.controls['permissions'].dirty || form.controls['permissions'].touched)"
        >
          {{ ('PERMISSIONS' | translate) + ' ' + ('IS_REQUIRED' | translate) }}
        </span>
      </div>
    </div>
  </form>
</app-modal>