<app-custom-modal
  [isOpen]="isModalOpen"
  [title]="modalTitle"
  [subtitle]="'ROLE_FORM.TITLE' | translate"
  [width]="'760px'"
  (closed)="closeModal()"
  (submitted)="submit()"
  variant="center"
  [showFooter]="true"
>
  <form class="form w-100" [formGroup]="form" novalidate>

    <!-- NAME -->
    <div class="fv-row mb-8">
      <label class="form-label fw-bolder">
        {{ 'ROLE_FORM.NAME' | translate }}
      </label>

      <input
        type="text"
        formControlName="name"
        autocomplete="off"
        class="form-control form-control-lg"
        [placeholder]="'ROLE_FORM.NAME' | translate"
        [ngClass]="{
          'is-invalid': isInvalid('name')
        }"
      />

      <ng-container *ngIf="isInvalid('name')">
        <div class="invalid-feedback d-block" *ngIf="f['name'].errors?.['required']">
          {{ 'ROLE_FORM.REQUIRED_NAME' | translate }}
        </div>
      </ng-container>
    </div>

    <!-- PERMISSIONS -->
    <div class="fv-row mb-8">
      <label class="form-label fw-bolder">
        {{ 'ROLE_FORM.PERMISSIONS' | translate }}
      </label>

      <app-custom-select
        [size]="'lg'"
        formControlName="permissions"
        [items]="permissionList"
        bindLabel="name"
        bindValue="id"
        [multiple]="true"
        [clearable]="true"
        [placeholder]="'ROLE_FORM.PERMISSIONS' | translate"
        [invalid]="isInvalid('permissions')"
      >
      </app-custom-select>

      <ng-container *ngIf="isInvalid('permissions')">
        <div class="invalid-feedback d-block" *ngIf="f['permissions'].errors?.['required']">
          {{ ('ROLE_FORM.PERMISSIONS' | translate) + ' ' + ('IS_REQUIRED' | translate) }}
        </div>
      </ng-container>
    </div>

  </form>
</app-custom-modal>