<app-permission-editsave #editSaveComponent (isSuccess)="isSuccess($event)">
</app-permission-editsave>

<app-confirmation #confirmationComponent (dismissButtonClick)="delete($event)">
</app-confirmation>

<!-- SEARCH -->
<app-datatable
  [header]="tableName"
  [paginationModel]="paginationModel"
  [dataSource]="dataSource"
  [totalCount]="totalCount"
  [columnList]="columnList"
  (paginationModelChange)="paginationModelChange($event)"
  (newButtonClick)="openSaveModal($event)"
  (deleteButtonClick)="openDeleteModal($event)"
  (editButtonClick)="openEditModal($event)"
  [historyEntityType]="'Permission'" [historyRecordIdField]="'id'"
      class="card card-xxl-stretch border-0 mb-5 mb-xl-8"
  [hasEditPermission]="hasEditPermission"
  [hasDeletePermission]="hasDeletePermission"
  [hasNewRecordPermission]="hasNewRecordPermission"
  [hasExportPermission]="hasExportPermission"
  (filterModelChange)="onFilterModelChange($event)"
  (exportExcelClick)="exportExcel($event)"
></app-datatable>