<div class="layer-manager-panel" (click)="$event.stopPropagation()" (mousedown)="$event.stopPropagation()"
  (mouseup)="$event.stopPropagation()">
  <div class="layer-manager-panel__body">
    <ng-container *ngIf="activeLayers.length > 0; else emptyState">
      <div class="layer-list__content">
        <div class="layer-item" *ngFor="let layer of activeLayers; trackBy: trackLayer"
          [class.layer-item--disabled]="!isLayerVisible(layer)">
          <div class="layer-item__left">
            <input type="checkbox" class="form-check-input layer-checkbox" [checked]="isLayerVisible(layer)"
              (change)="onLayerVisibilityToggle(layer)">

            <span class="layer-item__name">
              {{ layer.name || layer.layerName }}
            </span>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #emptyState>
      <div class="layer-manager-panel__empty">
        <i class="fa-solid fa-layer-group"></i>
        <span>{{ 'MAP.LAYER_MANAGER.EMPTY' | translate }}</span>
      </div>
    </ng-template>
  </div>
</div>
