<div class="menu menu-column menu-lg-row align-items-lg-center justify-content-lg-center w-100" (click)="$event.stopPropagation()">
  <ng-container *ngFor="let menu of menuList; let i = index">
    <ng-container *ngIf="!menu.isForbid">
      <div
        class="menu-item d-flex align-items-center"
        *ngIf="!menu.childMenus || menu.childMenus.length === 0"
      >
        <a
          class="menu-link px-4"
          [routerLink]="menu.url"
          routerLinkActive="active"
          [ngClass]="{ active: isMenuActive(menu) }"
        >
          <span class="menu-title fw-bolder">
            {{ ('LANG' | translate) === 'tr' ? menu.name : menu.nameEn }}
          </span>
        </a>
      </div>

      <div
        class="menu-item menu-lg-down-accordion menu-sub-lg-down-indention d-flex align-items-center position-relative"
        *ngIf="menu.childMenus && menu.childMenus.length > 0"
        [ngClass]="{
          show: menu.open,
          active: isMenuActive(menu) || hasActiveChild(menu)
        }"
      >
        <button
          type="button"
          class="menu-link px-4 border-0"
          (click)="toggleMenu(i, $event)"
        >
          <span class="menu-title fw-bolder">
            {{ ('LANG' | translate) === 'tr' ? menu.name : menu.nameEn }}
          </span>

          <span class="menu-arrow ms-2"></span>
        </button>

        <div
          class="menu-sub menu-sub-dropdown menu-column py-2 w-300px"
          [class.show]="menu.open"
        >
          <ng-container *ngFor="let child of menu.childMenus">
            <div class="menu-item" *ngIf="!child.isForbid">
              <a
                class="menu-link px-5 py-3"
                [routerLink]="child.url"
                routerLinkActive="active"
                [ngClass]="{ active: isChildActive(child) }"
                (click)="closeAll()"
              >
                <span class="menu-title fw-bolder">
                  {{ ('LANG' | translate) === 'tr' ? child.name : child.nameEn }}
                </span>
              </a>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
