<div class="app-header-menu" (click)="$event.stopPropagation()">
  <div class="app-header-menu__nav">
    <ng-container *ngFor="let menu of menuList; let i = index">
      <ng-container *ngIf="!menu.isForbid">
        <div
          class="app-header-menu__item"
          *ngIf="!menu.childMenus || menu.childMenus.length === 0"
        >
          <a
            class="app-header-menu__link"
            [routerLink]="menu.url"
            routerLinkActive="active"
            [ngClass]="{ active: isMenuActive(menu) }"
          >
            <span class="app-header-menu__link-text">
              {{ ('LANG' | translate) === 'tr' ? menu.name : menu.nameEn }}
            </span>
          </a>
        </div>

        <div
          class="app-header-menu__item app-header-menu__item--has-submenu"
          *ngIf="menu.childMenus && menu.childMenus.length > 0"
          [ngClass]="{
            open: menu.open,
            active: isMenuActive(menu) || hasActiveChild(menu)
          }"
        >
          <button
            type="button"
            class="app-header-menu__link app-header-menu__link--toggle"
            (click)="toggleMenu(i, $event)"
          >
            <span class="app-header-menu__link-text">
              {{ ('LANG' | translate) === 'tr' ? menu.name : menu.nameEn }}
            </span>

            <span class="app-header-menu__link-arrow">
              <i class="ki-duotone ki-down fs-7">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </span>
          </button>

          <div class="app-header-menu__submenu" [class.show]="menu.open">
            <ng-container *ngFor="let child of menu.childMenus">
              <a
                *ngIf="!child.isForbid"
                class="app-header-menu__submenu-link"
                [routerLink]="child.url"
                routerLinkActive="active"
                [ngClass]="{ active: isChildActive(child) }"
                (click)="closeAll()"
              >
                <span class="app-header-menu__submenu-text">
                  {{ ('LANG' | translate) === 'tr' ? child.name : child.nameEn }}
                </span>
              </a>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>