:host {
  display: none;
}

:host.show {
  display: flex !important;
}


.menu-title {

  &:hover,
  &:focus {
    background: var(--bs-primary-light) !important;
  }

  &:active {
    color: var(--bs-primary) !important;
  }
}