<ng-container>
  <div
    class="language-switcher"
    data-kt-menu-trigger="hover"
    data-kt-menu-placement="left-start"
    data-kt-menu-flip="bottom"
  >
    <div class="language-switcher-trigger cursor-pointer">
      <div class="language-switcher-left">
        <span class="language-switcher-icon">
          <i class="fa-solid fa-language"></i>
        </span>

        <span class="language-switcher-label">
          {{ 'LANGUAGE' | translate }}
        </span>
      </div>

      <div class="language-switcher-badge">
        <span class="language-switcher-name">
          {{ ('LANG' | translate) === 'tr' ? language.nameTr : language.nameEn }}
        </span>

        <img
          class="language-switcher-flag"
          [src]="language.flag"
          alt="language-flag"
        />
      </div>
    </div>

    <div class="menu-sub menu-sub-dropdown w-200px py-3 language-switcher-dropdown">
      <div
        *ngFor="let l of langs"
        class="language-option-row px-3 cursor-pointer"
        (click)="selectLanguage(l.lang)"
      >
        <div
          class="language-option"
          [ngClass]="{ active: l.lang === language.lang }"
        >
          <div class="language-option-left">
            <span class="symbol symbol-20px me-3">
              <img class="rounded-1" [src]="l.flag" alt="language-flag" />
            </span>

            <span class="language-option-text">
              {{ ('LANG' | translate) === 'tr' ? l.nameTr : l.nameEn }}
            </span>
          </div>

          <i
            *ngIf="l.lang === language.lang"
            class="fa-solid fa-check language-option-check"
          ></i>
        </div>
      </div>
    </div>
  </div>
</ng-container>