<div
  *ngFor="let l of langs"
  class="menu-item px-3"
  (click)="selectLanguage(l.lang)"
>
  <a
    class="menu-link px-3 d-flex align-items-center"
    [ngClass]="{ active: l.lang === language.lang }"
  >
    <span class="symbol symbol-20px me-3">
      <img class="rounded-1" [src]="l.flag" alt="flag" />
    </span>

    <span class="menu-title">
      {{ ('LANG' | translate) === 'tr' ? l.nameTr : l.nameEn }}
    </span>

    <i
      *ngIf="l.lang === language.lang"
      class="fa-solid fa-check text-primary ms-auto"
    ></i>
  </a>
</div>