//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Brand semantic colors
$danger:                            #FF6B6B;

// Body bg
$body-bg-dark:                      #0A1424;

// Forms
$input-solid-bg:                    rgba(255, 255, 255, 0.06);
$input-solid-bg-focus:              rgba(255, 255, 255, 0.1);

// Card
$card-box-shadow:                   0px 8px 24px rgba(44, 99, 255, 0.08);
$card-box-shadow-dark:              0px 16px 40px rgba(0, 0, 0, 0.22);
$card-border-enabled:               true;
$card-border-color:                 rgba(44, 99, 255, 0.12);
$card-border-color-dark:            rgba(44, 99, 255, 0.14);
