<app-layer-editsave #editSaveComponent (isSuccess)="isSuccess($event)">
</app-layer-editsave>

<app-confirmation #confirmationComponent (dismissButtonClick)="delete($event)">
</app-confirmation>

<div class="d-flex flex-column gap-7">
  <app-datatable
    [header]="tableName"
    [paginationModel]="paginationModel"
    [dataSource]="dataSource"
    [totalCount]="totalCount"
    [columnList]="columnList"
    (paginationModelChange)="paginationModelChange($event)"
    (newButtonClick)="openSaveModal($event)"
    (deleteButtonClick)="openDeleteModal($event)"
    (editButtonClick)="openEditModal($event)"
    (mapPreviewClick)="toggleMapPreviewDrawer($event)"
    (exportExcelClick)="exportExcel($event)"
    class="card card-xxl-stretch border-0 mb-5 mb-xl-8"
    [hasEditPermission]="hasEditPermission"
    [hasDeletePermission]="hasDeletePermission"
    [hasNewRecordPermission]="hasNewRecordPermission"
    [hasMapPreviewPermission]="hasPreviewMapPermission"
    [hasExportPermission]="hasExportPermission"
    (filterModelChange)="onFilterModelChange($event)"
  >
  </app-datatable>
</div>

<app-layer-map-drawer
  [isOpen]="isMapPreviewDrawerOpen"
  [refreshKey]="mapRefreshKey"
  (closeDrawer)="closeMapPreviewDrawer()"
></app-layer-map-drawer>