<app-modal #modal [modalConfig]="modalConfig">
  <form class="form modern-form" [formGroup]="form" novalidate>
    <div class="form-grid">
      <div class="form-group">
        <label>{{ 'NAME' | translate }}</label>
        <input
          type="text"
          formControlName="name"
          [class.invalid]="f['name'].invalid && (f['name'].touched || f['name'].dirty)"
        />
        <span class="error" *ngIf="f['name'].hasError('required') && (f['name'].touched || f['name'].dirty)">
          {{ 'REQUIRED_NAME' | translate }}
        </span>
      </div>

      <div class="form-group">
        <label>{{ 'SURNAME' | translate }}</label>
        <input
          type="text"
          formControlName="surname"
          [class.invalid]="f['surname'].invalid && (f['surname'].touched || f['surname'].dirty)"
        />
        <span class="error" *ngIf="f['surname'].hasError('required') && (f['surname'].touched || f['surname'].dirty)">
          {{ 'REQUIRED_SURNAME' | translate }}
        </span>
      </div>

      <div class="form-group">
        <label>{{ 'EMAIL' | translate }}</label>
        <input
          type="email"
          formControlName="email"
          [class.invalid]="f['email'].invalid && (f['email'].touched || f['email'].dirty)"
        />
        <span class="error" *ngIf="f['email'].hasError('required') && (f['email'].touched || f['email'].dirty)">
          {{ 'REQUIRED_EMAIL' | translate }}
        </span>
        <span class="error" *ngIf="f['email'].hasError('email') && (f['email'].touched || f['email'].dirty)">
          {{ 'EMAIL_IS_INVALID' | translate }}
        </span>
      </div>

      <div class="form-group">
        <label>{{ 'USERNAME' | translate }}</label>
        <input
          type="text"
          formControlName="username"
          [class.invalid]="f['username'].invalid && (f['username'].touched || f['username'].dirty)"
        />
        <span class="error" *ngIf="f['username'].hasError('required') && (f['username'].touched || f['username'].dirty)">
          {{ 'REQUIRED_USERNAME' | translate }}
        </span>
      </div>

      <div class="form-group">
        <label>{{ 'PHONE' | translate }}</label>
        <input
          type="tel"
          formControlName="phone"
          [class.invalid]="f['phone'].invalid && (f['phone'].touched || f['phone'].dirty)"
        />
        <span class="error" *ngIf="f['phone'].hasError('required') && (f['phone'].touched || f['phone'].dirty)">
          {{ 'REQUIRED_PHONE' | translate }}
        </span>
      </div>

      <div class="form-group">
        <label>{{ 'ROLE' | translate }}</label>
        <select
          formControlName="roles"
          [class.invalid]="f['roles'].invalid && (f['roles'].touched || f['roles'].dirty)"
        >
          <option [ngValue]="null">{{ 'SELECT_ROLE' | translate }}</option>
          <ng-container *ngFor="let item of roleList">
            <option [ngValue]="item.id">{{ item.name }}</option>
          </ng-container>
        </select>
        <span class="error" *ngIf="f['roles'].hasError('required') && (f['roles'].touched || f['roles'].dirty)">
          {{ 'REQUIRED_ROLE' | translate }}
        </span>
      </div>

      <div class="form-group form-group-full" *ngIf="form.controls['id'].value == 0">
        <label>{{ 'PASSWORD' | translate }}</label>
        <input
          type="password"
          formControlName="password"
          [class.invalid]="f['password'].invalid && (f['password'].touched || f['password'].dirty)"
        />
        <span class="error" *ngIf="f['password'].hasError('required') && (f['password'].touched || f['password'].dirty)">
          {{ 'PASSWORD_REQUIRED' | translate }}
        </span>
        <span class="error" *ngIf="f['password'].hasError('minlength') && (f['password'].touched || f['password'].dirty)">
          {{ 'PASSWORD_SHOULD_HAVE_AT_LEAST_3_SYMBOLS' | translate }}
        </span>
      </div>

      <div class="form-group form-group-full" *ngIf="form.controls['id'].value == 0">
        <label>{{ 'CONFIRM_PASSWORD' | translate }}</label>
        <input
          type="password"
          formControlName="cPassword"
          [class.invalid]="
            (f['cPassword'].invalid && (f['cPassword'].touched || f['cPassword'].dirty)) ||
            (f['cPassword'].errors?.['ConfirmPassword'] && (f['cPassword'].touched || f['cPassword'].dirty))
          "
        />
        <span class="error" *ngIf="f['cPassword'].hasError('required') && (f['cPassword'].touched || f['cPassword'].dirty)">
          {{ 'CONFIRM_PASSWORD' | translate }} {{ 'IS_REQUIRED' | translate }}
        </span>
        <span class="error" *ngIf="f['cPassword'].errors?.['ConfirmPassword'] && (f['cPassword'].touched || f['cPassword'].dirty)">
          {{ 'NOMATCH_PASSWORD' | translate }}
        </span>
      </div>
    </div>
  </form>
</app-modal>