<app-custom-modal
  [isOpen]="isModalOpen"
  [title]="modalTitle"
  [subtitle]="'USER_FORM.TITLE' | translate"
  [width]="'900px'"
  (closed)="closeModal()"
  (submitted)="submit()"
  variant="center"
  [showFooter]="true"
>
  <form class="form w-100" [formGroup]="form" novalidate>
    <div class="row">

      <!-- NAME -->
      <div class="col-md-6 fv-row mb-8">
        <label class="form-label fs-6 fw-bolder text-gray-900">
          {{ 'USER_FORM.NAME' | translate }}
        </label>

        <input
          class="form-control form-control-lg form-control-solid"
          formControlName="name"
          [placeholder]="'USER_FORM.NAME' | translate"
          [ngClass]="{
            'is-invalid': isInvalid('name')
          }"
        />

        <div class="invalid-feedback d-block" *ngIf="isInvalid('name')">
          {{ 'USER_FORM.REQUIRED_NAME' | translate }}
        </div>
      </div>

      <!-- SURNAME -->
      <div class="col-md-6 fv-row mb-8">
        <label class="form-label fs-6 fw-bolder text-gray-900">
          {{ 'USER_FORM.SURNAME' | translate }}
        </label>

        <input
          class="form-control form-control-lg form-control-solid"
          formControlName="surname"
          [placeholder]="'USER_FORM.SURNAME' | translate"
          [ngClass]="{
            'is-invalid': isInvalid('surname')
          }"
        />

        <div class="invalid-feedback d-block" *ngIf="isInvalid('surname')">
          {{ 'USER_FORM.REQUIRED_SURNAME' | translate }}
        </div>
      </div>

      <!-- EMAIL -->
      <div class="col-md-6 fv-row mb-8">
        <label class="form-label fs-6 fw-bolder text-gray-900">
          {{ 'USER_FORM.EMAIL' | translate }}
        </label>

        <input
          type="email"
          class="form-control form-control-lg form-control-solid"
          formControlName="email"
          [placeholder]="'USER_FORM.EMAIL' | translate"
          [ngClass]="{
            'is-invalid': isInvalid('email')
          }"
        />

        <ng-container *ngIf="isInvalid('email')">
          <div class="invalid-feedback d-block" *ngIf="f['email'].errors?.['required']">
            {{ 'USER_FORM.REQUIRED_EMAIL' | translate }}
          </div>
          <div class="invalid-feedback d-block" *ngIf="f['email'].errors?.['email']">
            {{ 'USER_FORM.INVALID_EMAIL' | translate }}
          </div>
        </ng-container>
      </div>

      <!-- USERNAME -->
      <div class="col-md-6 fv-row mb-8">
        <label class="form-label fs-6 fw-bolder text-gray-900">
          {{ 'USER_FORM.USERNAME' | translate }}
        </label>

        <input
          class="form-control form-control-lg form-control-solid"
          formControlName="username"
          [placeholder]="'USER_FORM.USERNAME' | translate"
          [ngClass]="{
            'is-invalid': isInvalid('username')
          }"
        />

        <div class="invalid-feedback d-block" *ngIf="isInvalid('username')">
          {{ 'USER_FORM.REQUIRED_USERNAME' | translate }}
        </div>
      </div>

      <!-- PASSWORD -->
      <div class="col-md-6 fv-row mb-8" *ngIf="form.controls['id'].value == 0">
        <label class="form-label fs-6 fw-bolder text-gray-900">
          {{ 'USER_FORM.PASSWORD' | translate }}
        </label>

        <input
          type="password"
          class="form-control form-control-lg form-control-solid"
          formControlName="password"
          [placeholder]="'USER_FORM.PASSWORD' | translate"
          [ngClass]="{
            'is-invalid': isInvalid('password')
          }"
        />

        <div class="invalid-feedback d-block" *ngIf="isInvalid('password')">
          {{ 'USER_FORM.REQUIRED_PASSWORD' | translate }}
        </div>
      </div>

      <!-- CONFIRM PASSWORD -->
      <div class="col-md-6 fv-row mb-8" *ngIf="form.controls['id'].value == 0">
        <label class="form-label fs-6 fw-bolder text-gray-900">
          {{ 'USER_FORM.CONFIRM_PASSWORD' | translate }}
        </label>

        <input
          type="password"
          class="form-control form-control-lg form-control-solid"
          formControlName="cPassword"
          [placeholder]="'USER_FORM.CONFIRM_PASSWORD' | translate"
          [ngClass]="{
            'is-invalid': isInvalid('cPassword')
          }"
        />

        <div class="invalid-feedback d-block" *ngIf="f['cPassword'].errors?.['required'] && isInvalid('cPassword')">
          {{ 'USER_FORM.REQUIRED_CONFIRM_PASSWORD' | translate }}
        </div>

        <div class="invalid-feedback d-block" *ngIf="f['cPassword'].errors?.['ConfirmPassword']">
          {{ 'USER_FORM.PASSWORD_NOT_MATCH' | translate }}
        </div>
      </div>

      <!-- PHONE -->
      <div class="col-md-6 fv-row mb-8">
        <label class="form-label fs-6 fw-bolder text-gray-900">
          {{ 'USER_FORM.PHONE' | translate }}
        </label>

        <input
          type="tel"
          class="form-control form-control-lg form-control-solid"
          formControlName="phone"
          mask="(000) 000 00 00"
          [showMaskTyped]="true"
          [dropSpecialCharacters]="false"
          autocomplete="off"
          placeholder="(___) ___ __ __"
          [ngClass]="{
            'is-invalid': isInvalid('phone')
          }"
        />

        <ng-container *ngIf="isInvalid('phone')">
          <div class="invalid-feedback d-block" *ngIf="f['phone'].errors?.['required']">
            {{ 'USER_FORM.REQUIRED_PHONE' | translate }}
          </div>
          <div class="invalid-feedback d-block" *ngIf="f['phone'].errors?.['pattern']">
            {{ 'USER_FORM.INVALID_PHONE' | translate }}
          </div>
        </ng-container>
      </div>

      <!-- ROLE -->
      <div class="col-md-6 fv-row mb-8">
        <label class="form-label fs-6 fw-bolder text-gray-900">
          {{ 'USER_FORM.ROLE' | translate }}
        </label>

        <app-custom-select
          formControlName="roles"
          [items]="roleList"
          bindLabel="name"
          bindValue="id"
          [multiple]="false"
          [clearable]="true"
          [placeholder]="'USER_FORM.SELECT_ROLE' | translate"
          [invalid]="isInvalid('roles')"
        >
        </app-custom-select>

        <div class="invalid-feedback d-block" *ngIf="isInvalid('roles')">
          {{ 'USER_FORM.REQUIRED_ROLE' | translate }}
        </div>
      </div>

    </div>
  </form>
</app-custom-modal>