<app-custom-modal
  [isOpen]="isModalOpen"
  [title]="modalTitle"
  [subtitle]="'USER_FORM.TITLE' | translate"
  [width]="'900px'"
  variant="center"
  [showFooter]="true"
  (closed)="closeModal()"
  (submitted)="submit()"
>
  <form class="form" [formGroup]="form" novalidate>
    <div class="row g-8">

      <!-- NAME -->
      <div class="col-md-6">
        <div class="fv-row">
          <label class="required form-label fw-semibold fs-6 mb-2">
            {{ 'USER_FORM.NAME' | translate }}
          </label>

          <input
            type="text"
            class="form-control"
            formControlName="name"
            autocomplete="off"
            [placeholder]="'USER_FORM.NAME' | translate"
            [ngClass]="{ 'is-invalid': isInvalid('name') }"
          />

          <div *ngIf="isInvalid('name')" class="fv-plugins-message-container">
            <div class="fv-help-block text-danger">
              {{ 'USER_FORM.REQUIRED_NAME' | translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- SURNAME -->
      <div class="col-md-6">
        <div class="fv-row">
          <label class="required form-label fw-semibold fs-6 mb-2">
            {{ 'USER_FORM.SURNAME' | translate }}
          </label>

          <input
            type="text"
            class="form-control"
            formControlName="surname"
            autocomplete="off"
            [placeholder]="'USER_FORM.SURNAME' | translate"
            [ngClass]="{ 'is-invalid': isInvalid('surname') }"
          />

          <div *ngIf="isInvalid('surname')" class="fv-plugins-message-container">
            <div class="fv-help-block text-danger">
              {{ 'USER_FORM.REQUIRED_SURNAME' | translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- EMAIL -->
      <div class="col-md-6">
        <div class="fv-row">
          <label class="required form-label fw-semibold fs-6 mb-2">
            {{ 'USER_FORM.EMAIL' | translate }}
          </label>

          <input
            type="email"
            class="form-control"
            formControlName="email"
            autocomplete="off"
            [placeholder]="'USER_FORM.EMAIL' | translate"
            [ngClass]="{ 'is-invalid': isInvalid('email') }"
          />

          <div *ngIf="isInvalid('email')" class="fv-plugins-message-container">
            <div
              *ngIf="f['email'].errors?.['required']"
              class="fv-help-block text-danger"
            >
              {{ 'USER_FORM.REQUIRED_EMAIL' | translate }}
            </div>

            <div
              *ngIf="f['email'].errors?.['email']"
              class="fv-help-block text-danger"
            >
              {{ 'USER_FORM.INVALID_EMAIL' | translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- USERNAME -->
      <div class="col-md-6">
        <div class="fv-row">
          <label class="required form-label fw-semibold fs-6 mb-2">
            {{ 'USER_FORM.USERNAME' | translate }}
          </label>

          <input
            type="text"
            class="form-control"
            formControlName="username"
            autocomplete="off"
            [placeholder]="'USER_FORM.USERNAME' | translate"
            [ngClass]="{ 'is-invalid': isInvalid('username') }"
          />

          <div *ngIf="isInvalid('username')" class="fv-plugins-message-container">
            <div class="fv-help-block text-danger">
              {{ 'USER_FORM.REQUIRED_USERNAME' | translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- PASSWORD -->
      <div
        *ngIf="form.controls['id'].value == 0"
        class="col-md-6"
      >
        <div class="fv-row">
          <label class="required form-label fw-semibold fs-6 mb-2">
            {{ 'USER_FORM.PASSWORD' | translate }}
          </label>

          <input
            type="password"
            class="form-control"
            formControlName="password"
            autocomplete="new-password"
            [placeholder]="'USER_FORM.PASSWORD' | translate"
            [ngClass]="{ 'is-invalid': isInvalid('password') }"
          />

          <div *ngIf="isInvalid('password')" class="fv-plugins-message-container">
            <div class="fv-help-block text-danger">
              {{ 'USER_FORM.REQUIRED_PASSWORD' | translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- CONFIRM PASSWORD -->
      <div
        *ngIf="form.controls['id'].value == 0"
        class="col-md-6"
      >
        <div class="fv-row">
          <label class="required form-label fw-semibold fs-6 mb-2">
            {{ 'USER_FORM.CONFIRM_PASSWORD' | translate }}
          </label>

          <input
            type="password"
            class="form-control"
            formControlName="cPassword"
            autocomplete="new-password"
            [placeholder]="'USER_FORM.CONFIRM_PASSWORD' | translate"
            [ngClass]="{ 'is-invalid': isInvalid('cPassword') }"
          />

          <div
            *ngIf="isInvalid('cPassword')"
            class="fv-plugins-message-container"
          >
            <div
              *ngIf="f['cPassword'].errors?.['required']"
              class="fv-help-block text-danger"
            >
              {{ 'USER_FORM.REQUIRED_CONFIRM_PASSWORD' | translate }}
            </div>

            <div
              *ngIf="f['cPassword'].errors?.['ConfirmPassword']"
              class="fv-help-block text-danger"
            >
              {{ 'USER_FORM.PASSWORD_NOT_MATCH' | translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- PHONE -->
      <div class="col-md-6">
        <div class="fv-row">
          <label class="required form-label fw-semibold fs-6 mb-2">
            {{ 'USER_FORM.PHONE' | translate }}
          </label>

          <input
            type="tel"
            class="form-control"
            formControlName="phone"
            mask="(000) 000 00 00"
            [showMaskTyped]="true"
            [dropSpecialCharacters]="false"
            autocomplete="off"
            placeholder="(___) ___ __ __"
            [ngClass]="{ 'is-invalid': isInvalid('phone') }"
          />

          <div *ngIf="isInvalid('phone')" class="fv-plugins-message-container">
            <div
              *ngIf="f['phone'].errors?.['required']"
              class="fv-help-block text-danger"
            >
              {{ 'USER_FORM.REQUIRED_PHONE' | translate }}
            </div>

            <div
              *ngIf="f['phone'].errors?.['pattern']"
              class="fv-help-block text-danger"
            >
              {{ 'USER_FORM.INVALID_PHONE' | translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- ROLE -->
      <div class="col-md-6">
        <div class="fv-row">
          <label class="required form-label fw-semibold fs-6 mb-2">
            {{ 'USER_FORM.ROLE' | translate }}
          </label>

          <app-custom-select
            formControlName="roles"
            [items]="roleList"
            bindLabel="name"
            bindValue="id"
            [multiple]="false"
            [clearable]="true"
            [placeholder]="'USER_FORM.SELECT_ROLE' | translate"
            [invalid]="isInvalid('roles')"
          >
          </app-custom-select>

          <div *ngIf="isInvalid('roles')" class="fv-plugins-message-container">
            <div class="fv-help-block text-danger">
              {{ 'USER_FORM.REQUIRED_ROLE' | translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- ORGANIZATION -->
      <div class="col-md-6">
        <div class="fv-row">
          <label class="form-label fw-semibold fs-6 mb-2">
            {{ 'USER_FORM.ORGANIZATION' | translate }}
          </label>

          <app-custom-select
            formControlName="organizations"
            [items]="organizationList"
            bindLabel="name"
            bindValue="id"
            [multiple]="false"
            [clearable]="true"
            [placeholder]="'USER_FORM.SELECT_ORGANIZATION' | translate"
            [invalid]="isInvalid('organizations')"
          >
          </app-custom-select>
        </div>
      </div>

    </div>
  </form>
</app-custom-modal>