<div
  id="kt_header"
  class="modern-header"
  [class.scrolled]="isScrolled"
>
  <div
    id="kt_header_container"
    [ngClass]="[
      headerContainerCssClasses,
      isMobile ? 'mobile-padding' : 'desktop-padding'
    ]"
    class="modern-header-container"
  >
    <div class="modern-header-left">
      <div class="d-flex d-lg-none align-items-center me-3">
        <button
          type="button"
          class="btn btn-icon mobile-toggle-btn"
          id="kt_aside_toggle"
        >
          <span
            [inlineSVG]="'./assets/media/icons/duotune/abstract/abs015.svg'"
            class="svg-icon svg-icon-2"
          ></span>
        </button>
      </div>

      <a
        (click)="onBrandClick()"
        class="app-header__brand text-decoration-none me-3"
      >
        <div class="app-header__brand-badge">
          <span class="app-header__brand-icon">T</span>
        </div>

        <div class="app-header__brand-content mt-2" *ngIf="!isMobile">
          <div class="app-header__eyebrow text-primary">
            {{ 'FOOTER.PRODUCT_LABEL' | translate }}
          </div>

          <div class="app-header__title-row">
            <h3 class="app-header__title">TaiEarth</h3>
          </div>
        </div>
      </a>

      <app-header-menu *ngIf="!isMobile"></app-header-menu>
    </div>

    <div class="modern-header-right">
      <app-topbar
        class="d-flex align-items-center flex-shrink-0"
      ></app-topbar>
    </div>
  </div>
</div>