<div
  class="map-panel-shell"
  [ngClass]="[
    panelClass,
    minimized ? 'map-panel-shell--minimized' : '',
    maximized ? 'map-panel-shell--maximized' : ''
  ]"
>
  <div class="map-panel-shell__header">
    <div class="map-panel-shell__title" [title]="title">
      <i [class]="icon + ' text-primary fs-5 me-2'"></i>
      <!-- <span>{{ title }}</span> -->
    </div>

    <div class="map-panel-shell__actions">
      <!-- <button
        type="button"
        class="btn btn-sm btn-icon btn-light"
        [attr.title]="minimized ? 'Restore' : 'Minimize'"
        (click)="onMinimize($event)"
      >
        <i
          class="fa-solid fs-8"
          [ngClass]="minimized ? 'fa-window-restore' : 'fa-minus'"
        ></i>
      </button> -->

      <!--
      <button
        type="button"
        class="btn btn-sm btn-icon btn-light"
        [attr.title]="maximized ? 'Collapse' : 'Maximize'"
        (click)="onMaximize($event)"
      >
        <i
          class="fa-solid fs-7"
          [ngClass]="maximized ? 'fa-compress' : 'fa-expand'"
        ></i>
      </button>
      -->

      <button
        type="button"
        class="btn btn-sm btn-light-danger py-1"
        title="{{'CLOSE' | translate }}"
        (click)="onClose($event)"
      >
        <i class="fa-solid fa-xmark fs-8 me-2"></i>
        <span class="fs-8">{{'CLOSE' | translate }}</span>
      </button>
    </div>
  </div>

  <div class="map-panel-shell__body" *ngIf="!minimized">
    <ng-content></ng-content>
  </div>
</div>