<div
  class="map-panel-shell card rounded-0 border shadow-lg"
  [ngClass]="[
    panelClass,
    minimized && !panelClass.includes('map-panel-shell--combined-smart-filter') ? 'map-panel-shell--minimized' : '',
    maximized ? 'map-panel-shell--maximized' : ''
  ]"
>
  <div class="card-header min-h-35px px-2 border-bottom bg-white" *ngIf="isHeaderExist">
    <div class="card-title min-w-0 flex-grow-1 m-0" [title]="title">
      <i *ngIf="icon" [class]="icon + ' text-primary fs-6 me-2'"></i>
      <!-- <span class="text-gray-800 fw-semibold fs-7 text-truncate">{{ title }}</span> -->
    </div>

    <div class="card-toolbar flex-shrink-0">
      <button
        type="button"
        class="btn btn-sm btn-light-danger py-1 px-2"
        [attr.title]="'CLOSE' | translate"
        (click)="onClose($event)"
      >
        <i class="fa-solid fa-xmark fs-8 me-2"></i>
        <span class="fs-8">{{ 'CLOSE' | translate }}</span>
      </button>
    </div>
  </div>

  <div class="card-body p-0 min-h-0 overflow-auto" *ngIf="!minimized || panelClass.includes('map-panel-shell--combined-smart-filter')">
    <ng-content></ng-content>
  </div>
</div>
