<div
  class="map-preview-drawer-backdrop"
  *ngIf="isOpen"
  (click)="close()"
></div>

<aside
  class="layer-drawer"
  [class.open]="isOpen"
>
  <div class="layer-drawer__header">
    <div class="layer-drawer__title">
      <i class="fa-solid fa-map-location-dot text-primary"></i>

      <span>
        {{ 'MARKETPLACE.CARD.MAP_PREVIEW' | translate }}
      </span>
    </div>

    <div class="layer-drawer__actions">
      <button
        type="button"
        class="btn btn-sm btn-icon btn-light-danger"
        (click)="close()"
      >
        <i class="fa-solid fa-xmark fs-7"></i>
      </button>
    </div>
  </div>

  <div class="layer-drawer__body">
    <div
      class="layer-map"
      *ngIf="isOpen"
    >
      <app-map
        [refreshKey]="refreshKey"
        [previewMode]="true"
      >
      </app-map>
    </div>
  </div>
</aside>